{% extends 'homepage.html' %}
{% block content %}

<div class="announce error">
<div>
Whoops, we ran into a problem (our fault, not yours).
</div>


<span style='color:black'>
<div>
<p>This error has been logged and will be brought to our attention.<p>
</p>
If there are further details you can provide, or if you would like us to let you
know when the problem is fixed, please use our <a href="{{ feedbackpage }}">feedback page</a>
to report the problem and include the following in your report (cut and paste):
</p>
<p>
{% if request.referrer %}
Problem URL: "{{ request.url }}"<br>
Referring URL: "{{ request.referrer }}".<br>
{% else %}
Problem URL: "{{ request.url }}".
{% endif %}
</p>
<p>We apologize for the inconvenience!</p>
</div>

{% if request.referrer %}
<div><a href="{{ request.referrer }}">Click here to go back.</a></div>
{% endif %}

</span>
</div>

{% endblock %}
