{% extends 'homepage.html' %}

{% block content %}

<p>
{{meta_description}}
</p>

<h3>Browse</h3>

<p>The front page lists upcoming talks.  You can filter them by topic to taylor them to your interests.</p>

<h3>Search</h3>

<p>On the search tab, you can search seminars and talks using various criteria, including text search of abstracts (note that some abstracts may be in latex).</p>

<h3>Subscribe</h3>

<p>You can add seminars and talks to your own calendar (e.g. Google calendar, Outlook or iCal).  When you subscribe to a seminar, new talks will be pushed to your calendar automatically.</p>

<h3>Attend</h3>

<p>Many seminars include Zoom links allowing direct access.  Some seminar organizers may choose to restrict these links to logged-in users.</p>

<h3>Create</h3>

<p>If you are organizing a seminar, we aim to make it easy to add your seminar to the site.  Once you create a new seminar (requires an endorsed account), you can add upcoming or historical talks.</p>

<h3>Organize</h3>

<p>For seminar organizers, we provide tools to easily add upcoming talks: defaults are filled in from the seminar but are editable on a per-talk basis.  Each talk's edit link allows you to grant speakers access to update their own title and abstract.  We also provide tools for exporting seminar information in formats usable on your own site or department calendar.</p>

<h2>Acknowledgements</h2>

<p>This project is supported by a <a href="{{ url_for('acknowledgment') }}#sponsors">grant</a> from the Simons Foundation.</p>

{% endblock %}
