{% extends 'homepage.html' %}
{% block content %}
<style>
  #contribs { overflow: hidden; }
  #contribs > div {
  padding: 0 ;
  margin: 5px;
  font-size: 70%;
  height: 4em;
  border: 1px solid {{color.contrib_border}};
  float:left;
  width: 200px;
  overflow: hidden;
  }
  #contribs > div > div { padding-left: 5px; }
  #contribs > div > div.name {
  font-weight: bold;
  background: {{color.contrib_background}};
  font-size: 100%;
  position: relative;
  }
  #contribs > div > div.name > a { position: absolute; right: 5px; }
  #contribs > div > div.affil { color: {{color.contrib_text_affil}};}
  #contribs > div > div.notes { color: {{color.contrib_text_notes}}; }
</style>

<div class="text_content auto">
<a name="sponsors"></a>
<h2 >Sponsors</h2>
<div>
 The development of this site was supported by <a href="https://www.simonsfoundation.org/">Simons Foundation</a> grant 550033, awarded to the <a href="https://icerm.brown.edu/simonscollaboration/">Simons Collaboration on Arithmetic Geometry, Number Theory, and Computation</a>.
</div>

<a name="software"></a>
<h2>Software</h2>

<div>
    The website is run on free open source software, including
<a href="http://www.python.org">Python</a>,
<a href="http://flask.pocoo.org/">Flask</a>,
<a href="http://jinja.pocoo.org/">Jinja</a>,
<a href="https://www.postgresql.org/">PostgreSQL</a>,
<a href="http://initd.org/psycopg/">Psycopg</a>,
<a href="https://github.com/LMFDB/lmfdb/">LMFDB</a>,
<a href="https://katex.org/">KaTeX</a>,
and
<a href="http://git-scm.com">Git</a>.
</div>

<a name="hosting"></a>
<h2>Hosting</h2>
<div>
  The database and web server are hosted at <a href="https://math.mit.edu/index.php">MIT</a>.
  The website source code is hosted
  on <a href="https://github.com/roed314/seminars">GitHub</a>.

 </ul>
</div>

<a name="individuals"></a>
<h2>Administrators</h2>
<div>
  The site was created by <a href="https://math.mit.edu/~edgarc">Edgar Costa</a> and <a href="https://math.mit.edu/~roed">David Roe</a>.  <a href="https://math.mit.edu/~poonen">Bjorn Poonen</a> and <a href="https://math.mit.edu/~drew">Andrew Sutherland</a> provided a huge amount of feedback during the creation of the site and now join Edgar and David as site admininstrators.
</div>

<h2>Contributors</h2>
<div>
We gratefully acknowledge the contributions of 
<a href="https://alexjbest.github.io/">Alexander Best</a>, 
<a href="https://www.raymondvanbommel.nl/">Raymond van Bommel</a>, 
<a href="https://www.math.ucla.edu/people/grad/jdedios">Jaume de Dios</a>,
<a href="https://www.csail.mit.edu/person/abderrahmane-fadli">Abderrahmane Fadli</a>,
<a href="https://www.kskedlaya.org/">Kiran Kedlaya</a>,
<a href="https://davidlowryduda.com/about">David Lowry-Duda</a>,
<a href="https://math.mit.edu/~sschiavo/">Sam Schiavone</a>,
<a href="https://duetosymmetry.com/">Leo Stein</a>,
<a href="https://math.mit.edu/~aosun/">Ao Sun</a>,
<a href="https://mysql.phas.ubc.ca/users/james-sully">James Sully<a>,
<a href="https://www.chalmers.se/en/staff/Pages/xiam.aspx">Mingchen Xia</a>,
and all those who have helped to improve this site.
</div>

<!-- not  currently used by we could use this in the future -->
<div id="contribs">
{% for c in contribs %}
  <div>
    <div class="name">{{ c.name|safe }}
      {% if c.url -%}<a href="{{ c.url }}">www</a>{%- endif %}
    </div>
    {% if c.affil -%}<div class="affil">{{ c.affil|safe }}</div>{%- endif %}
    {# {% if c.notes -%}<div class="notes">{{ c.notes|join(', ')|safe }}</div>{%- endif %} #}
  </div>
{% endfor %}
</div>

</div>

{% endblock %}
