<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{meta_description|striptags}}"/>
    {% if titletag %}
      <title>Math seminars - {{ titletag|striptags }}</title>
    {% else %}
      <title>Math seminars{% if title %} - {{ title|striptags }}{% endif %}  </title>
    {% endif %}
  <script>
  if (navigator.cookieEnabled) {
    console.log("cookies enabled");
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    if( document.cookie.includes('browser_timezone') ) {
      //console.log("has cookie");
      console.log(document.cookie);
    } else {
      document.cookie = "browser_timezone=" + tz + ";path=/"
      //console.log("adding cookie");
      //console.log(document.cookie);
      location.reload();
    }
    } else {
      //console.log("cookies disabled");
  }
  </script>
    <link id="style_css" href="{{ url_for('css') }}" rel="stylesheet" type="text/css" />


    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename='apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for('static', filename='apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static', filename='apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
            crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
          integrity="sha384-Nlo8b0yiGl7Dn+BgLn4mxhIIBU6We7aeeiulNCjHdUv/eKHx59s3anfSUjExbDxn"
          crossorigin="anonymous">
    <!--FIXME pick version and add integrity-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://unpkg.com/select-pure@latest/dist/bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select_pure.css') }}" />

    <!-- for ics ical and google calendar logos -->
    <script src="https://kit.fontawesome.com/7144df9805.js"></script>


    <!-- notifications -->
    <script type="text/javascript" src="{{ url_for('static', filename='notify.min.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='jquery.watermark.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.markitup.markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lmfdb.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='seminars.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='showdown.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.plugins.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.markitup.markdown.js') }}"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
          integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j"
          crossorigin="anonymous">
    <script defer
          src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
          integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
          crossorigin="anonymous"></script>
    <script defer
          src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
          integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
          crossorigin="anonymous"></script>
    <script>
katexOpts = {
  delimiters: [
  {left: "$$", right: "$$", display: true},
  {left: "\\[", right: "\\]", display: true},
  {left: "$", right: "$", display: false},
  {left: "\\(", right: "\\)", display: false}
],
  macros: {
  "\\C": '{\\mathbb{C}}',
  "\\R": '{\\mathbb{R}}',
  "\\Q": '{\\mathbb{Q}}',
  "\\Z": '{\\mathbb{Z}}',
  "\\F": '{\\mathbb{F}}',
  "\\H": '{\\mathbb{H}}',
  "\\HH": '{\\mathcal{H}}',
  "\\integers": '{\\mathcal{O}}',
  "\\SL": '{\\textrm{SL}}',
  "\\GL": '{\\textrm{GL}}',
  "\\PSL": '{\\textrm{PSL}}',
  "\\PGL": '{\\textrm{PGL}}',
  "\\Sp": '{\\textrm{Sp}}',
  "\\GSp": '{\\textrm{GSp}}',
  "\\PSp": '{\\textrm{PSp}}',
  "\\PSU": '{\\textrm{PSU}}',
  "\\Gal": '{\\mathop{\\rm Gal}}',
  "\\Aut": '{\\mathop{\\rm Aut}}',
  "\\Sym": '{\\mathop{\\rm Sym}}',
  "\\End": '{\\mathop{\\rm End}}',
  "\\Reg": '{\\mathop{\\rm Reg}}',
  "\\Ord": '{\\mathop{\\rm Ord}}',
  "\\sgn": '{\\mathop{\\rm sgn}}',
  "\\trace": '{\\mathop{\\rm trace}}',
  "\\Res": '{\\mathop{\\rm Res}}',
  "\\mathstrut": '\\vphantom(',
  "\\ideal": '{\\mathfrak{ #1 }}',
  "\\classgroup": '{Cl(#1)}',
  "\\modstar": '{\\left( #1/#2 \\right)^\\times}',
},
};
  document.addEventListener("DOMContentLoaded", function() {
  renderMathInElement(document.body, katexOpts);
});
    </script>
    <link href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/copy-tex.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/copy-tex.min.js" integrity="sha384-XhWAe6BtVcvEdS3FFKT7Mcft4HJjPqMQvi5V4YhzH9Qxw497jC13TupOEvjoIPy7" crossorigin="anonymous"></script>

    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-162873686-1']);
_gaq.push(['_setDomainName', 'mathseminars.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>
  </head>

  <body class="{{ body_class }}">
{% macro KNOWL(kid, title=none) -%}
{{ static_knowl(kid, title) | safe }}
{%- endmacro %}
    {% block body -%}{%- endblock body %}
  </body>
</html>
