{% extends 'browse.html' %}

{% block browsing %}
<input type="hidden" name="past" value="{{ past }}">

<div id="timezone-table" style="padding: 10px 4px 0px 4px;">
  Times in {{ user.show_timezone("browse") }}
</div>

<table id="browse-talks" class="talk-table ntdata">
  <thead>
    {% if past %}
    <tr> {{ talks_header(include_content=True, include_subscribe=False) | safe }} </tr>
    {% else %}
    <tr> {{ talks_header()  | safe }} </tr>
    {% endif %}
  </thead>
  <tbody>
    {% for talk, row_attributes in talk_row_attributes %}
    <tr {{ row_attributes | safe }} >
      {% if past %}
      {{ talk.oneline(include_content=True, include_subscribe=False) | safe }}
      {% else %}
      {{ talk.oneline() | safe }}
      {% endif %}
    </tr>
    {% endfor %}
    {%if last_time and extraargs %}
      <tr class="talk lasttime" style="display: none;" timestamp="{{last_time}}" extraargs="{{extraargs}}">
    {%endif%}
  </tbody>
</table>
<div id="page-load-status" style="text-align: center; display: none;">
  <div class="loader-ellips infinite-scroll-request">
  <span class="loader-ellips__dot"></span>
  <span class="loader-ellips__dot"></span>
  <span class="loader-ellips__dot"></span>
  <span class="loader-ellips__dot"></span>
  </div>
  <div class="infinite-scroll-last">No more talks</div>
  <div class="infinite-scroll-error">Error loading more talks</div>
</div>


<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <script>
function visibletalks() {
  return Array.from(document.querySelectorAll(".talk")).filter(row => row.offsetHeight > 0 && row.offsetWidth > 0).length % 2;
}
function getpath() {
  var lasttimes = document.getElementsByClassName("lasttime")
  if( lasttimes.length > 0) {
    var lastrow = lasttimes[lasttimes.length - 1]
    var timestamp = lastrow.getAttribute("timestamp");
    var extraargs = lastrow.getAttribute("extraargs")
    var base_url = '/talks/';
    if( document.querySelector("input[name=past]").getAttribute('value') == "True" ){
      var base_url = '/past_talks/';
    }
    return base_url + timestamp + '?visible=' + visibletalks() + '&' + extraargs;
  }
}
if( document.getElementsByClassName('lasttime').length > 0 ) {
  var infScroll = new InfiniteScroll( document.querySelector('#browse-talks'), {
    // options
    path: getpath,
    append: '.talk',
    history: false,
    status: '#page-load-status',
    checkLastPage: '.lasttime',
    scrollThreshold: 500,
    prefill: true,
    debug: true,
  });
}

//function checkVisible(elm) {
//  var rect = elm.getBoundingClientRect();
//  var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
//  return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
//}
//
//function loadmoreifyouseetheend() {
//  if( checkVisible(document.getElementById('footer')) ){
//    infScroll.loadNextPage();
//  } else {
//    console.log("footer not visible")
//  }
//}
//
//document.addEventListener('DOMContentLoaded', loadmoreifyouseetheend)
//infScroll.on('append',loadmoreifyouseetheend)



  </script>
{% endblock %}
