{% extends 'browse.html' %}

{% block browsing %}
<input type="hidden" name="past" value="{{ past }}">

<div id="timezone-table" style="padding: 10px 4px 0px 4px;">
{% if not is_conference %}
Times in {{ user.show_timezone("browse") }}
{% else %}
Dates in conference time zone
{% endif %}
</div>

<table id="browse-confs" class="conf-table ntdata">
  <thead>
    <tr> {{ series_header(conference=is_conference, include_topics=True)  | safe }} </tr>
  </thead>
  <tbody>
    {% for series, row_attributes  in series_row_attributes %}
    <tr {{ row_attributes | safe }} >
      {{ series.oneline(conference=is_conference, include_topics=True) | safe }}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
