{% extends 'homepage.html' %}

{% block content %}

{% if user_is_authenticated and no_subscription %}
<p>
  <a href="{{ url_for('search') }}">Search</a> for seminars and talks to follow.
</p>
{% elif not user_is_authenticated %}
<p id="filter-instruction">
  Use the Filter option to select categories of interest.
</p>
{% endif %}

<table id="browse-talks">
  {% for talk in talks %}
  <tr class="talk {% for cat in talk.categories %}cat-{{cat}} {% endfor %}">
    <td>{{talk.datetime.strftime("%a %b %-d, %-H:%M")}}</td>
    <td><a href="{{ url_for('show_sem', semid=talk.seminar_id) }}">{{talk.seminar_name}}</a></td>
    <td><a href="{{ url_for('show_talk', talkid=talk.id) }}">{{talk.speaker}}</a></td><td>{{talk.title}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
