{% extends 'homepage.html' %}

{% block content %}

<div id="filter-container">
  <div id="filter-controls">
    <table id="filter-table">
      <tr>
        <td>
          {{ KNOWL("filter") }} by:
        </td>
        {{ topic_dag.filter_link() | safe }}
        {{ languages.filter_link() | safe }}
        {% if user.is_authenticated %}
        <td >
          {{ toggle(tglid="enable_calendar_filter", value=1 if request.cookies.get('filter_calendar', '-1') == '1' else -1, onchange="toggleFilters(this.id);") | safe }}
        </td>
        <td style="padding-right: 2em;">
          Show only saved events
        </td>
        {% endif %}
      </tr>
    </table>
  </div>
  {{ topic_dag.filter_pane(counts=topic_counts) | safe }}
  {{ languages.filter_pane(counts=language_counts) | safe }}
</div>

{% block browsing %}{% endblock %}

{% endblock %}
