{% extends 'browse.html' %}

{% block browsing %}
<input type="hidden" name="past" value="{{ past }}">

<div id="timezone-table" style="padding: 10px 4px 0px 4px;">
{% if not is_conference %}
Times in {{ user.show_timezone("browse") }}
{% else %}
Dates in conference time zone
{% endif %}
</div>

<table id="browse-confs" class="conf-table ntdata">
  <thead>
    {% if is_conference %}
nclude_audience/
    <tr> {{ series_header(conference=True, include_description=False, include_topics=True)  | safe }} </tr>
    {% else %}
    <tr> {{ series_header() | safe }} </tr>
    {% endif %}
  </thead>
  <tbody>
    {% for series, row_attributes  in series_row_attributes %}
    <tr {{ row_attributes | safe }} >
      {% if is_conference %}
nclude_audience/
      {{ series.oneline(conference=True, include_description=False, include_topics=True) | safe }}
      {% else %}
      {{ series.oneline() | safe }}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
