{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

<h2>Contacting the Math Seminars developers</h2>

<p>
If you are interested in helping to improve this site,
please
<a href="mailto:mathseminars-dev@googlegroups.com"
target="_blank">email</a>
the developers' <a href="https://groups.google.com/forum/#!forum/mathseminars-dev"
target="_blank">mailing list</a>.
</p>

<p>
To report an error or ask a question about the website content, please <b>either</b>
<a href="mailto:mathseminars-dev@googlegroups.com"
target="_blank">email</a>
the <a href="https://groups.google.com/forum/#!forum/mathseminars-dev"
target="_blank">mailing list</a>, <b>or</b> use the
<a href="{{feedbackpage}}" target="_blank">Feedback Form</a>, or both.
</p>

<p>
To be most helpful, error reports should include
<ul>
<li>a one line description of the problem,
<li>the exact URL which shows the issue (copied and pasted from the
  browser location bar), and
<li>a full description of the problem.
</ul>
</p>


<p>
The current list of issues being tracked can be found
<a href="https://github.com/roed314/seminars/issues"
target="_blank">here</a>.
</p>


</div>

{% endblock %}
