{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

<h2>Contacting the Math Seminars developers</h2>

 <ul>
   <li>
    <p>
      <b>Urgent question?</b> 
    <a href="mailto:mathseminars-dev@googlegroups.com" target="_blank">Send an email</a>
  to the <a href="https://groups.google.com/forum/#!forum/mathseminars-dev"
                        target="_blank">developers' mailing list</a>.
     </p>
  </li>
     <li>
       <p>
      <b>Urgent error report?</b>  
      <a href="mailto:mathseminars-dev@googlegroups.com" target="_blank">Send an email</a>.
       </p>
   </li>
   <li>
     <p>
     <b>Other question or error report?</b> 
      Use the <a href="{{feedbackpage}}" target="_blank">feedback form</a>.
     </p>
   </li>
  <li>
    <p>
    <b>Have a suggestion for improving the site?</b> 
    Use the <a href="{{feedbackpage}}" target="_blank">feedback form</a>.
    </p>
  </li>
  <li>
    <p>
    <b>Want to help improve the site yourself?</b> 
          <a href="mailto:mathseminars-dev@googlegroups.com" target="_blank">Send an email</a>.
    </p>
  </li>
  </ul>
<br>

<p>
To be most helpful, error reports should include
<ul>
<li>a one line description of the problem,
<li>the exact URL which shows the issue (copied and pasted from the
  browser location bar), and
<li>a full description of the problem.
</ul>
</p>


<p>
The current list of issues being tracked can be found
<a href="https://github.com/roed314/seminars/issues"
target="_blank">here</a>.
</p>


</div>

{% endblock %}
