{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Contacting the {{topdomain}} developers</h2>

 First, check the <a href="{{ url_for("faq") }}">FAQ</a> to see if your issue is addressed there.
 <ul>
  <li>
    <p>
      <b>Need user support or have a suggestion for improving the site?</b>
    <a href="mailto:researchseminars-support@googlegroups.com" target="_blank">Send an email</a>
  to the <a href="https://groups.google.com/forum/#!forum/researchseminars-support"
                        target="_blank">user support group</a>.
     </p>
  </li>
   <li>
     <p>
     <b>Need to report an error or inappropriate content?</b>
      Use the <a href="{{feedbackpage}}" target="_blank">feedback form</a>.
     </p>
   </li>
  <li>
    <p>
    <b>Need to reach the developers privately?</b>
          <a href="mailto:researchseminars@math.mit.edu" target="_blank">Send an email</a>.
    </p>
  </li>
  </ul>
<br>

<p>
To be most helpful, error reports should include
<ul>
<li>a one-line description of the problem,
<li>the exact URL which shows the issue (copied and pasted from the
  browser location bar), and
<li>a full description of the problem.
</ul>
</p>


<p>
The current list of issues being tracked can be found
<a href="https://github.com/roed314/seminars/issues"
target="_blank">here</a>.
</p>


</div>

{% endblock %}
