{% extends 'homepage.html' %}

{% block content %}

<form action="{{ url_for('.delete_talk',  seminar_id=seminar_id, seminar_ctr=seminar_ctr) }}" method="POST">
{% if talk.deleted %}
    {% if permdelete %}
        <p><b>Are you sure you want to do this?</b> Permanently deleted talks cannot be restored.</p>
    {% else %}
        <p>The talk below has been deleted.</p>
    {% endif %}
{% else %}
    <p>Deleting the talk below will cancel any subscriptions to it.   You can restore the talk later, but subscriptions will not be restored.</p>
{% endif %}
<table>
<tr>{{ talks_header(include_subscribe=False) | safe }}</tr>
<tr>{{ talk.oneline(include_subscribe=False) | safe }}</tr>
</table>
<br>
<table><tr>
{% if talk.deleted %}
    {% if permdelete %}
        <td><button class="savedelete" type="submit" name="submit" value="permdelete">Permanently delete talk</button></td>
        <td><button class="cancel" type="submit" name="submit" value="cancel">Cancel permanent deletion</button></td>
    {% else %}
        <td><button class="save" type="submit" name="submit" value="revive">Revive talk</button></td>
        <td><button class="delete" type="submit" name="submit" value="delete">Permanently delete talk</button></td>
    {% endif %}
{% else %}
    <td><button class="savedelete" type="sumbit" name="submit" value="delete">Delete talk</button></td>
    <td><button class="cancel" type="sumbit" name="submit" value="cancel">Cancel deletion</button></td>
{% endif %}
</tr></table>
</form>

{% endblock %}
