{% extends 'homepage.html' %}

{% block content %}


<div class="text_content auto">

  <ul>
    <li>
      <h4>
        How do I browse only combinatorics talks?
      </h4>
      <p> At the <a href="{{ url_for("index") }}">front page</a>,
        in the text "Filter by topic", click "topic" to open the topics menu,
        press "Clear all" (if necessary) to deselect all topics,
        click on "combinatorics",
        and adjust the slider to the left of "Filter by topic".
        You can also select more than one topic.
        To close the topics menu, click "topic" again.</p>
    </li>
     <li>
      <h4>
        What time zone is used to display talk times?
      </h4>
       <p>
         <i>Your</i> time zone, displayed at the upper right.
         <ul>
           <li>If you're logged in, this is the time zone associated with your account, which you can set on the Account page.</li>
           <li>If you're not logged in, this is the time zone provided by your browser.</li>
         </ul><br>
         Exception (for organizers and speakers): When editing a seminar or talk, times are displayed in the time zone <i>of the seminar or talk</i>; this time zone can be set at the seminar's "Edit properties" page or the talk's "Edit talk" page, respectively.
      </p>
    </li>

    <li>
      <h4>
        What are the benefits of <a href="{{ url_for('user.register') }}">registering</a>?
      </h4>
      <p>
        <ol>
          <li>
            Registered users can save seminars and talks to their favorites.
            Then on the <a href="{{ url_for("index") }}">front page</a> they can click "Show only saved events" to display only those.
            Moreover, on the Account page, they can export these to their own calendars.
          </li>
          <li>
            Registered users, once endorsed, can create their own seminars and conferences for others to see.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <h4>
        If I export seminars to my Google calendar, do I have to export them again every week to see the latest talks?
      </h4>
      <p> No, once you export a seminar to your calendar, talks added to that seminar later will be pushed to your calendar automatically!</p>
    </li>
    <li>
      <h4>
        How do I create a new seminar?
      </h4>
      <p><ol><li><a href="{{ url_for('user.register') }}">Register</a> for an account.</li>
          <li>Get your account endorsed by some other endorsed user.  (We require this for your seminars to be visible to others, as a security measure, to prevent spam on our site.)</li>
          <li>Click on the <a href="{{ url_for('create.index')}}">Create</a> tab and follow the instructions there.  (Note: After creating your first seminar, the "Create" tab will be renamed as "Manage".)</li>
        </ol></p>
    </li>
    <li>
      <h4>
        How do I create a new conference?
      </h4>
      <p>
        The procedure is the same as for creating a new seminar.
      </p>
    </li>
    <li>
      <h4>
        Is it OK to add a seminar if I'm not one of the organizers?
      </h4>
      <p>
        The seminar organizers will likely be grateful for the assistance in spreading the word about their seminar.  
        We suggest contacting them to let them know that you plan to add their seminar to this site.  
        When entering the seminar details, uncheck the "Organizer" checkbox; 
        if you then check "Display" and "Contact", the seminar page will list you as a curator instead of an organizer, 
        and a link to your email address will be shown so that the organizers (or others) can contact you if there are any errors.
      </p>
    </li>
    <li>
      <h4>
        If someone else added my seminar to the site, how can I gain the ability to update it?
      </h4>
      <p>
        Hopefully that person contacted you or left contact information on the seminar page.  If so, that person can endorse you and then add you to the list of organizers of the seminar, at which point you will be able to edit it.  If you don't want the seminar listed on this site, please ask <a href="mailto:edgarcosta@mit.edu">Edgar Costa</a> or <a href="mailto:roed@mit.edu">David Roe</a> to remove it.
      </p>
    </li>
    <li>
      <h4>
        What should I do if I'm organizing a seminar that doesn't meet weekly?
      </h4>
      <p> If it meets every other week on the same day, set the Frequency to 14 in the "Edit properties" page for the seminar.
        If it meets on different days of the week, you won't be able to use the default dates in the "Edit schedule" page, but you can still add talks one by one.</p>
    </li>
    <li>
      <h4>
        How do I add to the FAQ?
      </h4>
      <p>
        Ask questions via the <a href="{{feedbackpage}}" target="_blank">Feedback page</a>!
      </p>
    </li>
  </ul>

</div>

{% endblock %}
