{% extends "base.html" %}

{%- from "macros.html" import KNWOL, ASTKNOWL, calendar_block, prevent_unsaved with context -%}

{% block body -%}
<!--<div class="banner">
  <header class="inner">
    <div style="padding: 8px 40px;">
      We at researchseminars.org, in solidarity with the
      <a class="banner" href="https://www.particlesforjustice.org/">#Strike4BlackLives</a> and <a class="banner" href="https://www.shutdownstem.com/">#ShutDownSTEM</a>
      movements on June 10, 2020, acknowledge the racism present throughout academia and
      especially in STEM subjects, and urge organizers who have talks
      scheduled that day to consider these movements.  We added an option on the Edit talk page for organizers to reschedule a talk.
    </div>
  </header>
</div>-->

<div id="header">
  <header class="inner">
    <div id="logo">
      <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" /></a>
    </div>
    <div class="right">
      <div class="upper">
        <div id="title">{{ title|safe }}</div>
        <div id="domain"> {{ domain }} (beta)</div>
        <div id="top-menu">
        {% for url, onclick, label in top_menu -%}
          <div {% if section == label %} class="menu-active"{% endif %}><a href="{{url}}"{% if onclick %} onclick="{{onclick}}"{% endif %}>{{label}}</a></div>
        {%- endfor %}
        </div>
        <div class="topright">
          <table>
            <tr><td><span id="curtime">{{ usertime.strftime("%H:%M") }}</span></td></tr>
            <tr><td>{{ user.show_timezone() }}</td></tr>
          </table>
        </div>
      </div>
  </header>
</div>
</div>

{% if section == "Browse" %}
 <form id="browseform" action="{{ url_for('index') }}">
  <div id="browse-submenu">
    <header class="inner">
      <div class="submenu-inner">
       <script>function mysubmit(s, section){document.getElementById(s+"_button").value = s + " " + $('input[name="keywords"]')[0].value; return false; }</script>
        <div class="submenu-nav{% if subsection == 'talks' %} submenu-active{% endif %}">
          <button type="submit" name="submit" onclick="mysubmit('talks')" id="talks_button">Talks</button>
        </div>
        <div class="submenu-nav{% if subsection == 'conferences' %} submenu-active{% endif %}">
          <button type="submit" name="submit" onclick="mysubmit('conferences')" id="conferences_button">Conferences</button>
        </div>
        <div class="submenu-nav{% if subsection == 'seminar_series' %} submenu-active{% endif %}">
          <button type="submit" name="submit" onclick="mysubmit('seminar_series')" id="seminar_series_button">Seminar series</button>
        </div>
        <div class="submenu-nav{% if subsection == 'past_talks' %} submenu-active{% endif %}">
          <button type="submit" name="submit" onclick="mysubmit('past_talks')" id="past_talks_button">Past talks</button>
        </div>
        <div class="submenu-nav{% if subsection == 'past_conferences' %} submenu-active{% endif %}">
          <button type="submit" name="submit" onclick="mysubmit('past_conferences')" id="past_conferences_button">Past conferences</button>
        </div>
      </div>
    </header>
  </div>
</form>

{% elif section in ["Manage", "Create"] %}
  <div id="manage-submenu">
    <header class="inner">
      <div class="submenu-inner">
        {% if user.is_creator %}
          <div class="submenu-nav{% if subsection == 'home' %} submenu-active{% endif %}">
            <a href="{{ url_for('create.index') }}">Series</a>
          </div>
          {% if not seminar and not subsection in ['view', 'editsem', 'schedule', 'viewtalk', 'edittalk'] %}
            <div class="submenu-nav{% if subsection == 'institutions' %} submenu-active{% endif %}">
              <a href="{{ url_for('list_institutions') }}">Institutions</a>
            </div>
          {% endif %}
        {% endif %}
        {% if institution %}
          <div class="submenu-nav{% if subsection == 'viewinst' %} submenu-active{% endif %}">
            <a href="{{ url_for('show_institution', shortname=institution.shortname) }}">View institution</a>
          </div>
          {% if user.is_admin or user.email == institution.admin %}
            <div class="submenu-nav{% if subsection == 'editinst' %} submenu-active{% endif %}">
              <a href="{{ url_for('create.edit_institution', shortname=institution.shortname) }}">Edit institution</a>
            </div>
          {% endif %} {# institution admin #}
        {% elif seminar and seminar.user_can_edit() %}
          {% if not seminar.new %}
            <div class="submenu-nav{% if subsection == 'schedule' %} submenu-active{% endif %}">
              <a href="{{ url_for('create.edit_seminar_schedule', shortname=seminar.shortname) }}">Edit schedule</a>
            </div>
          {% endif %} {# seminar.new #}
          <div class="submenu-nav{% if subsection == 'editsem' %} submenu-active{% endif %}">
            <a href="{{ url_for('create.edit_seminar', shortname=seminar.shortname) }}">{% if seminar.new %}Create{% else %}Edit{% endif %} series</a>
          </div>
          <div class="submenu-nav{% if subsection == 'view' %} submenu-active{% endif %}">
            <a href="{{ url_for('show_seminar', shortname=seminar.shortname) }}">View series</a>
          </div>
        {% endif %} {# institution/seminar #}
        {% if talk and not talk.deleted %}
          <div class="submenu-nav{% if subsection == 'edittalk' %} submenu-active{% endif %}">
            {% if talk.seminar.user_can_edit() %}
            <a href="{{ url_for('create.edit_talk', seminar_id=talk.seminar.shortname, seminar_ctr=talk.seminar_ctr) }}">Edit talk</a>
            {% else %}
            <a href="{{ url_for('create.edit_talk', seminar_id=talk.seminar.shortname, seminar_ctr=talk.seminar_ctr, token=token) }}">Edit talk</a>
            {% endif %}
          </div>
          <div class="submenu-nav{% if subsection == 'viewtalk' %} submenu-active{% endif %}">
            {% if talk.seminar.user_can_edit() %}
              <a href="{{ url_for('show_talk', seminar_id=talk.seminar.shortname, talkid=talk.seminar_ctr) }}">View talk</a>
            {% else %}
              <a href="{{ url_for('show_talk', seminar_id=talk.seminar.shortname, talkid=talk.seminar_ctr, token=token) }}">View talk</a>
            {% endif %}
          </div>
        {% endif %} {# talk #}
      </div>
    </header>
  </div>
{% elif section in ["Info"] %}
  <div id="manage-submenu">
    <header class="shortinner">
      <div class="submenu-inner">
        <div class="submenu-nav{% if subsection == 'features' %} submenu-active{% endif %}">
          <a href="{{ url_for('info') }}">Features</a>
        </div>
        <div class="submenu-nav{% if subsection == 'faq' %} submenu-active{% endif %}">
          <a href="{{ url_for('faq') }}">FAQ</a>
        </div>
        <div class="submenu-nav{% if subsection == 'policies' %} submenu-active{% endif %}">
          <a href="{{ url_for('policies') }}">Policies</a>
        </div>
        <div class="submenu-nav{% if subsection == 'privacy' %} submenu-active{% endif %}">
          <a href="{{ url_for('privacy') }}">Privacy</a>
        </div>
        <div class="submenu-nav{% if subsection == 'acknowledgments' %} submenu-active{% endif %}">
          <a href="{{ url_for('acknowledgment') }}">Acknowledgments</a>
        </div>
        <div class="submenu-nav{% if subsection == 'contact' %} submenu-active{% endif %}">
          <a href="{{ url_for('contact') }}">Contact</a>
        </div>
      </div>
    </header>
  </div>
{% endif %}
<noscript>
  <div id="javascript-explanation">
    We use javascript to filter series topics, adapt series to your local time zone, enter date ranges, and hide this annoying message.
    We use cookies to set your default timezone, keep track of your preferences, and to keep you logged in.
  </div>
</noscript>


<div id="main">
  <div id="content">
    {% with msgs = get_flashed_messages(with_categories=true) -%}
      <div id="flashes">
        {% for cat, msg in msgs -%}
          <p class="{{ cat }}">{{ msg }}</p>
        {%- endfor %}
      </div>
    {%- endwith %}
    {% block content -%}
    There is nothing here. This is just a template.
    {%- endblock content %}
  </div>
</div>

{% if DEBUG %}
<div class="debug">
<p>
The template for this page is: {{ self._TemplateReference__context.name }}
</p>
{% if calling_function %}
<p>
The function which was called for this page is: {{calling_function}}
</p>
{% endif %}
</div>
{% endif %}

<div id="footer">
  <div>
    Beta release on Fri Apr 10, 2020
    &middot;
    <a href="{{feedbackpage}}">Send us feedback</a>
    &middot;
    <a href="https://github.com/roed314/seminars">Website source code</a>
  </div>
</div>


{%- endblock body %}
