{% extends "base.html" %}

{% macro place_code(item) %}
{% if code and code[item] %}
{% for L in code[item] %}
{% if code[item][L] %}
{# currently there are two uses of multiline code:
   - either strings containing newlines and ending with a newline
   - or arrays of lines
   first convert the first case to the second
#}
{% if code[item][L] is string %}
{% set lines = code[item][L].split('\n')[:-1] if '\n' in code[item][L] else [code[item][L]] %}
{% else %}
{% set lines = code[item][L] %}
{% endif %}
{% set prompt = code['prompt'][L] if 'prompt' in code and L in code['prompt'] else L %}
{# keep the line below as is to avoid annoying line breaks #}
<div class="{{ [L,'nodisplay','code','codebox'] | join(' ')}}">{% for line in lines %}{{prompt}}:&nbsp;{{line}}<br /><div style="margin: 0; padding: 0; height: 0;">&nbsp;</div>{# this div is a workaround for a copy-tex bug where if a code block followed a hidden code block followed by math was selected and copied the hidden block would be also it is important that it has display: block #}{% endfor %}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% block body -%}
<div id="header">
  <header class="inner">
  <div id="logo">
    <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" /></a>
  </div>
  <div class="right">
    <div class="upper">
      <div id="title">{{ title|safe }}</div>
      <div id="top-menu">
        {% for url, onclick, label in top_menu -%}
        <div {% if section == label %} class="menu-active"{% endif %}><a href="{{url}}"{% if onclick %} onclick="{{onclick}}"{% endif %}>{{label}}</a></div>
        {%- endfor %}
      </div>
      <div class="topright">
        <table>
          <tr><td><span id="curtime">{{ usertime.strftime("%-H:%M") }}</span></td></tr>
          <tr><td>{{ user.timezone.replace("_", " ") }}</td></tr>
        </table>
      </div>
    </div>
  </header>
  </div>
</div>
{% if section == "Browse" %}
<div id="topic-filter-menu">
  <div id="topic-filter-head">
    {% for ab, name, onclick in [("ALL", "Select all topics", "selectAllTopics();"), ("CLR", "Clear selection", "clearAllTopics();")] %}
    <div class="topic_cmd" id="catlink-{{ab}}" onclick="{{onclick}}">
      {{name}}
    </div>
    {% endfor %}
  </div>
  {% for ab, name in categories %}
  <div class="topic_toggle" id="catlink-{{ab}}">
    {{name}}{% if category_counts[ab] %} ({{category_counts[ab]}}){% endif %}
  </div>
  {% endfor %}
</div>
</div>
{% endif %}
<noscript>
<div id="javascript-explanation">
  We use javascript to filter seminar categories, adapt seminars to your local time zone, enter date ranges, and hide this annoying message.
</div>
</noscript>

 {% macro rightnavig(title, entries) -%}
   {% if entries %}
    <h1 class="properties-header">{{ title }}</h1>
    <div class="properties-body">
    {% if entries is string %}
      {# For very large lists of friends, we use javascript #}
      {{ entries | safe }}
    {% else %}
    <ul>
        {% for text,url in entries %}
        {% if url %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% else %}
           <li>{{ text|safe }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
  </div>
   {% endif %}
 {%- endmacro %}

{% macro neighbors(title, entries) -%}
   {% if entries %}
    <h1 class="properties-header">{{ title }}</h1>
    <div class="properties-body">
    <table>
       {% for description, name, url in entries %}
       <tr><td>{{ description }}</td><td><a href="{{ url }}">{{ name|safe }}</a></td></tr>
       {% endfor %}
    </table>
  </div>
   {% endif %}
 {%- endmacro %}

{% if (properties or origins or Linstances or friends or factors_origins or navi or  downloads or learnmore) %}
      <div id="properties">
       <div id="properties-collapser">&uarr;</div>
    {% if properties %}
       <h1 class="properties-header">Properties</h1>
       <div class="properties-body">
       <table>
       {% for label, content in properties -%}
         {% if label %}
           <tr><td class="label">{{label|safe}}</td><td>
         {% else %}
           <tr><td colspan="2" align="center">
         {% endif %}
         {% if content is string  -%}
             {{ content|safe }}</td></tr>
         {%- else -%}
           {% for c in content -%}
            {% if not loop.first -%}<tr><td></td>{%- endif %}
              {{c|safe}}</td></tr>
           {%- endfor %}
         {%- endif %}
       {%- endfor %}
      </table>
      </div>
    {% endif %}

   {{ rightnavig("Origins", origins) }}
   {{ rightnavig("Instances", Linstances) }}
   {{ rightnavig("Related objects", friends) }}
   {{ rightnavig("Origins of factors", factors_origins) }}
   {{ neighbors("Nearby objects", navi) }}
   {{ rightnavig("Downloads", downloads) }}
   {{ rightnavig("Learn more about", learnmore) }}
    </div>
    {%- endif %}

<div id="main">
  <div id="content">
    {% with msgs = get_flashed_messages(with_categories=true) -%}
      <div id="flashes">
        {% for cat, msg in msgs -%}
          <p class="{{ cat }}">{{ msg }}</p>
        {%- endfor %}
      </div>
    {%- endwith %}
    {% if code %}
        <script>
        var cur_lang = null;
        function show_code(new_lang) {
           {% for lang in code['show'] %}
           $('.{{lang}}').hide();
           {% endfor %}
            if (cur_lang == new_lang) {
              cur_lang = null;
            } else {
              $('.'+new_lang).show();
              $('.'+new_lang).css('display','inline-block');
              cur_lang = new_lang;
            }
        }
        </script>
        <div align="right">
            Show commands for:
            {% set slash = joiner("/ ") %}
            {% for lang in code['show'] %}
            {# override show names for standard languages to ensure consistency #}
            {% set show = 'Pari/GP' if lang == 'pari' else 'SageMath' if lang == 'sage' else 'Magma' if lang == 'magma' else code['show']['lang'] %}
            {{slash()}}<a onclick="show_code('{{lang}}'); return false" href='#'>{{show}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if KNOWL_ID %}
    {% if BACKUP_KNOWL_ID %}
    {{ KNOWL_INC(KNOWL_ID+'.top', title='', backupid=BACKUP_KNOWL_ID+'.top') }}
    {% else %}
    {{ KNOWL_INC(KNOWL_ID+'.top', title='') }}
    {% endif %}
    {% endif %}
    {% block content -%}
    There is nothing here. This is just a template.
    {%- endblock content %}
    {% if KNOWL_ID %}
    {% if BACKUP_KNOWL_ID %}
    <h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='Additional information', backupid=BACKUP_KNOWL_ID+'.bottom') }}</h2>
    {% else %}
    <h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='Additional information') }}</h2>
    {% endif %}
    {% endif %}
  </div>
</div>

{% if DEBUG %}
<div class="debug">
<p>
The template for this page is: {{ self._TemplateReference__context.name }}
</p>
{% if calling_function %}
<p>
The function which was called for this page is: {{calling_function}}
</p>
{% endif %}
</div>
{% endif %}

<div id="footer">
  <div>
    Beta release on Tue Apr 7, 2020
    &middot;
    <a href="{{feedbackpage}}">Send us feedback</a>
  </div>
</div>


{%- endblock body %}
