{% extends 'homepage.html' %}

{% block content %}

<div class="text_content auto">
<p>
   {{meta_description}}  
   On this site, each <i>talk</i> belongs to a <i>series</i>.  
Each series is either a <i>conference</i> (event typically lasting a few days, with several talks per day) or a <i>seminar series</i> (a recurring series of talks spread out over weeks).
</p>

<h3>Browse</h3>

<p>The <a href="{{ url_for("index") }}">Browse</a> page lists upcoming talks.  
There you can click the tabs underneath to instead display 
conferences, seminar series, or past events.  
You can filter results by topic, language, and other attributes.
Finally, you can search for names or text, even inside talk abstracts.</p>

<h3>Subscribe</h3>

<p>You can export individual series and talks to your own calendar app 
(e.g., Google Calendar, iCal, or Outlook).  
In addition, <a href="{{ url_for('user.register') }}">registered users</a> 
can select favorite series and talks and 
<a href="{{ url_for('user.info') }}">export</a> them as one calendar.
When you subscribe to a series, 
new talks will be pushed to your calendar automatically.</p>

<h3>Attend</h3>

<p>Many events include livestreaming links for direct access.  
Some organizers make these links visible only to users 
<a href="{{ url_for('user.register') }}">logged in</a> 
to a <a href="https://{{topdomain}}">{{topdomain}}</a> account.</p>

<h3>Create</h3>

<p>
Once you <a href="{{ url_for('create.index') }}">create</a> 
a new series on the site, you can add future or past talks to it.
Series and talks you create will be visible to others 
once your account has been endorsed.</p>

<h3>Organize</h3>

<p>Organizers can add upcoming talks easily: 
defaults are filled in from the series but are editable on a per-talk basis.  
Sharing a talk's edit link with speakers allows them 
to update their own title and abstract.  
Each series comes with a block of HTML code 
that when pasted once onto the organizer's homepage or departmental webpage 
will always display the up-to-date talk schedule.</p>

<h3>Questions?  Error reports?  Suggestions?</h3>

<p>If your issue is not addressed by 
the <a href="{{ url_for("faq") }}">FAQ</a>, 
please <a href="{{ url_for('contact') }}">contact us</a>!</p>

</div>

{% endblock %}
