{% extends 'homepage.html' %}
{% block content %}

<div class="announce error">
<div>
We were unable to save the data you entered.
</div>
<span style='color:black'>
<div>
<p>Please press the back button on your browser, correct the errors listed above, and then press the save button again.</p>
<p>If you do not see any error message listed above or if the error messages above are unclear,
please help us to improve the website by <a href="{{ feedbackpage }}">reporting the problem</a>.</p>
</span>
</div>

{% endblock %}
