{% extends 'homepage.html' %}

{% block content %}
<div class="text_content">

{% if user.is_creator %}
<p>If your institution is not listed here, you can add it so that series can be associated with it later.</p>

<h2>Add institution</h2>

<form action="{{ url_for('create.edit_institution') }}" method="POST">
  <input type="hidden" name="new" value="yes"/>
  <table id="make_inst">
    <tr>
      <td>{{ ASTKNOWL("institution_name") }}</td>
      <td><input name="name" style="width:500px;" placeholder="University of Pangaea" maxlength="64"/></td>
      <td class="forminfo"><p style="width:230px;">Click blue captions for more details. Asterisks denote required items.</p></td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL("institution_shortname") }}</td>
      <td><input name="shortname" style="width:500px;" placeholder="UPan" maxlength="32"/></td>
      <td class="forminfo">Use 2-32 characters, no spaces.
    </tr>
    <tr>
      <td><button type="submit">Create</button></td>
    </tr>
  </table>
</form>

{% endif %}

<h2>Existing institutions</h2>

<table class="ntdata">
  <thead>
    <th>Identifier</th>
    <th>Name</th>
  </thead>
  {% for shortname, name in institutions %}
  <tr>
    <td>{{shortname}}</td>
    <td><a href="{{ url_for('show_institution', shortname=shortname) }}">{{name}}</a></td>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
