{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

<h2>
Use of this site
</h2>
<ul>
  <li>Content added to this site must be related to academic research.</li>
  <li>Events listed publicly on this site should be open to participation by anyone,
    except that organizers may require registration or otherwise limit participation
    in order to manage oversubscribed events or to prevent inappropriate disruptions.
    One possible practice is to set a livestreaming password 
    instead of requiring a separate registration;
    if the password is the answer to an undergraduate-level problem
    such as "What is the order of the group <i>S</i><sub>5</sub>?", 
    publishing the problem without the answer is enough to prevent disruptions, 
    in our experience.
  </li>
  <li>No fee may be charged for participation in any event listed on this site
    beyond that required to cover the cost of the event.
    That cost must not include paying a stipend or salary to any of the organizers.</li>
  <li>Use of this site for the sake of profit or to promote a business is prohibited.</li>
</ul>

<h2>
Scientific content
</h2>
<ul>
  <li>Abstracts, if included, should briefly summarize what the talk will be about.
    An abstract should not be an entire manuscript, but it may include a link to a manuscript.
    Preprints belong elsewhere, such as <a href="https://arxiv.org">arXiv</a>.</li>
  <li>Talks based on joint research should mention all co-authors in the abstract.  If the number of co-authors is so large as to make this unwieldy, then the abstract may instead explain where to find the full co-author list.</li>
  <li>Content added by users should be accurate, to the best of knowledge of the user.</li>
  <li>Comments unrelated to the academic content are not allowed anywhere on this site.
    For example, venting of grievances is inappropriate here.</li>
</ul>

<h2>
Inclusiveness
</h2>
<ul>
  <li>We, the administrators of {{topdomain}},
affirm our commitment to serve the entire research community
without regard to age, creed, disability, ethnicity, race, color, religion,
gender, gender identity or expression, marital status, national origin,
language, religion, sexual orientation, military or veteran status,
or any combination of these or related factors.</li>
<li>Event organizers and other users of this site are expected to uphold the same principles of inclusiveness.</li>
<li>Online participation creates new opportunities for academic dissemination and collaboration,
but also may require special care to ensure that communication remains respectful and encouraging.
Any criticism should be directed at the academic content,
not at the person presenting it.</li>
</ul>

<h2>
User behavior
</h2>
<ul>
  <li>User accounts should be associated to an individual, not an organization or a group of people.
    (But email addresses for an organization or group can still be displayed in the organizer list on the series page.)</li>
  <li>Organizers and endorsed users must use their legal name or professional name on this site.
    ("Professional name" means the name that the user lists on publications.)
    Posting anonymously is forbidden.</li>
  <li>Misrepresenting one's identity or affiliation is forbidden.
    Affiliation need not be listed, but claimed affiliation should be current:
    usually this means being a current student or employee of the institution.</li>
  <li>Users are expected to follow professional ethics guidelines such as those listed by the
    <a href="https://www.ams.org/about-us/governance/policy-statements/sec-ethics">American Mathematical Society</a>.</li>
  <li>Excessive self-promotion may lead to a warning or permanent removal of the user from the site.
    For example, creating a series consisting solely of the creator speaking on the creator's own research is discouraged.</li>
  <li>Users should not attempt to use the site for any purpose other than
    viewing, organizing, and publicizing events on academic research.</li>
  <li>Users whose behavior on the site is viewed by the administrators to be
    detrimental to the site or to the academic community may be banned from the site without recourse.</li>
</ul>

<h2>
Administrators
</h2>
<ul>
  <li>The administrators make no guarantee regarding the functioning of this site or its availability at any time.
    Use of this site is at the user's risk.
    Users' data may be lost, so users are encouraged to back up any irreplaceable content.</li>
  <li>The administrators make no guarantee regarding the content of any external sites to which this site links.</li>
  <li>The administrators reserve the right to edit or delete any content that is added to this site.</li>
  <li>The administrators reserve the right to unendorse users or to delete their accounts entirely.</li>
  <li>Users agree not to hold the administrators, the Massachusetts Institute of Technology, the Simons Foundation,
    or any other institutions sponsoring this site
    liable for any harm caused through the use of this site,
    such as loss of data, loss of reputation, or loss of employment.</li>
  <li>Any opinions, findings, conclusions, or recommendations expressed on this site do not necessarily reflect the views of
    the administrators, the Massachusetts Institute of Technology, the Simons Foundation,
    or any other institutions sponsoring this site.</li>
  <li>The administrators reserve the right to change these policies in the future.</li>
</ul>

  In addition, please see the <a href="{{ url_for('privacy') }}">privacy policy</a>.
 <br><br>
  These policies were last revised on May 3, 2020.

</div>

{% endblock %}
