{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  The following notice describes what information we collect from visitors to {{topdomain}}
and how we use this information.

<h2>
What information we gather during your visit
</h2>

<h4>
Information we gather for anonymous browsing
</h4>

We automatically collect certain information from you when you visit the site.
This data is used to gather metrics on site usage including
geographic location of visitors,
pathways navigated through the website,
and type of internet browser used (user-agent).

<h4>
Information you may provide as registered user
</h4>

To register on our site, you must provide your email address.
We recommend that you also provide 
your full name, affiliation, homepage URL, time zone,
and lists of favorite series and talks.
All this information is editable on your account page.
We also store information you provide about 
seminar series, conferences, talks, and institutions.
Registered users can delete their accounts to remove 
the personal information above, 
but any series, talks, and institutions they added to the site 
will remain unless removed beforehand.

<h4>
Information you may provide when submitting feedback
</h4>

Users who complete our feedback form
or email the administrators for technical help or endorsement requests
should include information relevant to the request.
Users submitting the feedback form may remain anonymous,
or they may provide personal information 
such as name, email, and operating environment.

<h4>
Information provided by others
</h4>

Users may submit personal information on others,
such as name, email address, and homepage URL for co-organizers or speakers,
or email addresses that should be automatically endorsed.
Users must ensure that they have the consent to share the data, 
or the content will be removed.



<h2>
How we use your information
</h2>

<h4>
Providing content
</h4>
We display information on seminar series, conferences, talks, and institutions,
based on what you provide.

<h4>
Contact details for organizers and maintainers
</h4>
Pages associated to seminar series, conferences, talks, and institutions
may include information on whom to contact for questions or corrections.
The contact information would be generally displayed as a homepage URL.
An email address would be visible only if the homepage URL is not available.

<h4>
Customer support
</h4>
We use your information to resolve technical issues you encounter,
to respond to your requests for assistance,
to analyze crash information,
and to repair and improve the services.

<h4>
Safety and security
</h4>
We use information about you and your service use 
to verify accounts and activity,
to monitor suspicious or fraudulent activity, 
and to identify violations of service policies.

<h4>
Essential announcements
</h4>

Occasionally it may be necessary to send an email to all registered users, 
for example to announce a new policy.

<h2>
With whom we share your information
</h2>

<h4>
Administrators
</h4>

All information we gather may be viewable by administrators of the site.

<h4>
The public
</h4>

Information associated with 
seminar series, conferences, talks, and institutions
(including series name, series title, series page URL,
series organizer name, series organizer's homepage URL,
date, time, time zone,
speaker name, speaker's homepage URL,
title, abstract,
institution name, institution homepage URL,
and other items)
is visible to visitors to the site.
Your email address is publicly visible
only if you list yourself as an organizer of a series 
<i>and</i> indicate that your name should be displayed
<i>and</i> do not provide a homepage URL
(if your email address and homepage URL are both provided, 
we would display only the URL),
or if similarly you list yourself as maintainer of an institution 
without providing your homepage URL as a way for people to contact you.

<h4>
Organizers on our site
</h4>

Independently of whether you register,
if a series organizer enters your email address when scheduling a talk by you,
then the email address would be visible also to other organizers of that series.
Some talks require users to "instantly register" for access to the livestream;
in that case, the series organizers can view the name, affiliation,
and homepage URL of every person who registered for the talk, 
along with the time of registration.

<h4>
Google
</h4>

Our developers' email list is a Google Groups email list, 
our feedback page is a Google Form, 
and our site uses Google Analytics.
These may send information to Google 
as well as to the {{topdomain}} administrators.

<h4>
Other third parties
</h4>

Information is never shared with other third parties.
In particular, it is never used for marketing purposes.




<h2>
Cookies
</h2>

Cookies are text files stored on your computer
that are accessible only to the websites that create them.
Our site uses cookies to record your browse settings
and to keep you logged in to secure areas of the website.
It is not necessary to allow cookies to browse series and talks on the site.

<h2>
External websites
</h2>
Some pages on our site may link to external websites 
that we neither own nor control,
such as seminar homepages or institution homepages.
We are not responsible for the content or privacy practices of those websites.

<h2>
Special notice for EU residents
</h2>

If you are located within the European Economic Area 
(European Union, Norway, Liechtenstein, and Iceland), 
we acknowledge the rights granted to you under 
the General Data Protection Regulation (GDPR).
These may include
<ul>
  <li>right to access your information held by us,</li>
  <li>right to correct inaccurate or incorrect information about you,</li>
  <li>right to have your information deleted when it is no longer necessary for us to retain it,</li>
  <li>right to restrict processing of your personal information in specific situations,</li>
  <li>right to object to processing your information, including sending you communications that may be considered direct-marketing materials,</li>
  <li>right to object to automated decision-making and profiling, where applicable, and</li>
  <li>right to complain to a supervisory authority in your jurisdiction within the EU.</li>
</ul>

<h2>
Contact
</h2>

Please <a href="{{url_for('contact')}}">contact</a> us 
with any questions or concerns.

<br>
<br>

The privacy notice was last revised on May 17, 2020.
</div>

{% endblock %}

