{% extends 'homepage.html' %}

{% block content %}
<div class="search-container">
  <div id='searchseminars'>
    <form class='searchform' id='seminarsform' onsubmit="cleanSubmit(this.id)">
      {{ info.search_array.html(info) | safe }}
    </form>
    <div class='searchresults'>
      <table class='ntdata'>
        <thead>
          <tr>
            {{ series_header() | safe }}
          </tr>
        </thead>
        {% for seminar in info.results %}
        <tr>
          {{ seminar.oneline() | safe }}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% include 'debug_info.html' %}

{% endblock %}
