{% extends 'homepage.html' %}

{% block content %}
<div class="search-container">
  <div class="container">
    <form class="toggle">
      <input type="radio" id="choice1" name="choice" value="seminars">
      <label id="labelchoice1" for="choice1">Seminars</label>

      <input type="radio" id="choice2" name="choice" value="talks">
      <label id="labelchoice2" for="choice2">Talks</label>
      {% if info.get('search_type') == 'talks' %}
      <div id="flap"><span class="content" id="rotatedcontent" style="transform: rotateY(180deg)">Talks</span></div>
      {% else %}
      <div id="flap"><span class="content">Seminars</span></div>
      {% endif %}

    </form>
  </div>
  <form id='search_form' onsubmit="cleanSubmit(this.id)">
    <div id='searchseminars'>
      <div class='searchform'>
        {{ info.seminar_search_array.html(info) | safe }}
      </div>
      <div class='searchresults'>
        <table class='ntdata'>
          <thead>
            <tr>
              {{ seminars_header() | safe }}
            </tr>
          </thead>
          {% for seminar in info.seminar_results: %}
          <tr>
            {{ seminar.oneline() | safe }}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div id='searchtalks' style='display:none;'>
      <div class='searchform'>
        {{ info.talks_search_array.html(info) | safe }}
      </div>
      <div class='searchresults'>
        <table class='ntdata'>
          <thead>
            <tr>
              {{  talks_header(include_seminar=False, include_edit=False) | safe }}
            </tr>
          </thead>
          {% for talk in info.talk_results: %}
          <tr>
            {{ talk.oneline(include_seminar=False, include_edit=False) | safe }}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </form>
</div>

{% include 'debug_info.html' %}


<script>
const st = {};

st.flap = document.querySelector('#flap');
st.toggle = document.querySelector('.toggle');

st.choice1 = document.querySelector('#choice1');
st.choice2 = document.querySelector('#choice2');

st.final_flap = (e) => {
    if (st.choice1.checked) {
        st.toggle.style.transform = 'rotateY(-15deg)';
        setTimeout(() => st.toggle.style.transform = '', 400);
    } else {
        st.toggle.style.transform = 'rotateY(15deg)';
        setTimeout(() => st.toggle.style.transform = '', 400);
    }
  console.log('triggered');
  console.log(e);
};

st.clickHandler = (e) => {

    if (e.target.id == 'labelchoice1' ||  e.target.id == 'labelchoice2' ) {
        setTimeout(() => {
            st.flap.children[0].textContent = e.target.textContent;
        }, 250);
    }
    if (e.target.textContent == 'Seminars') {
      $('#searchseminars').show();
      $('#searchtalks').hide();
    } else if (e.target.textContent == 'Talks') {
      $('#searchtalks').show();
      $('#searchseminars').hide();
    }
console.log(e);
}

  document.addEventListener('click', (e) => st.clickHandler(e));


document.addEventListener('DOMContentLoaded', () => {
{% if info.get('search_type') == 'talks' %}
  var oldtoggle = st.toggle.style.transition;
  var oldflap = st.flap.style.transition;
  st.toggle.style.transition = '0s';
  st.flap.style.transition = '0s';
  st.choice2.checked = true;
  $('#searchtalks').show();
  $('#searchseminars').hide();
  st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
  st.toggle.style.transition = oldtoggle;
  st.flap.style.transition = oldflap;
  document.querySelector('#rotatedcontent').style.transform = '';
  setTimeout(() => st.flap.addEventListener('transitionend', st.final_flap), 300);
{% else %}
if( st.choice2.checked ){
  $('#searchtalks').show();
  $('#searchseminars').hide();
  st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
} else {
  st.flap.children[0].textContent = st.choice1.nextElementSibling.textContent;
}
  st.flap.addEventListener('transitionend', st.final_flap);
{% endif %}
});


</script>

{% endblock %}
