<div>
Including this HTML code on your webpage will display the series schedule there.  The code consists of a &lt;div&gt; tag and a &lt;script&gt; tag.<br><br>
To include the schedules of multiple series, you need the &lt;div&gt; tag for each but the &lt;script&gt; tag only once, so copy the code block for each series to your webpage and remove all but one copy of the &lt;script&gt; tag.<br><br>
By default, our styling of the schedule overrides your webpage's styling.
If you want your webpage's styling to apply, then after copying the code, change <code>'addCSS': true</code> to <code>'addCSS': false</code> in the &lt;script&gt; tag.
</div>
<textarea cols="69" rows="5" readonly id="embed-{{ seminar.shortname | safe }}-{{ uniqstr  | safe }}" onclick="this.focus();this.select()">
<div class="embeddable_schedule" shortname="{{ seminar.shortname | safe }}" daterange="{{ daterange | safe }}"></div>
<script src="{{ url_for('embed_seminar_js', _external=True) | safe }}" onload="seminarEmbedder.initialize({'addCSS': true});"></script>
</textarea>
<div>
<a onclick="copySourceOfId('embed-{{ seminar.shortname | safe }}-{{ uniqstr | safe }}')"><i class="clippy"></i> Copy code to clipboard</a>
</div>
<script async>console.log('foo');add_autoselect_event();</script>
