{% extends 'homepage.html' %}

{% block content %}

<span style="display: inline-flex">
  <h1 style="padding-right: 0.5em;">
    {{ seminar.show_name(show_attributes=True,plain=True) | safe }}
  </h1>
  {{seminar.show_subscribe() | safe }}
</span>
{% if seminar.homepage %}
  <p style="padding: 0x; margin: 0px;"> {{ seminar.show_homepage(newtab=True) | safe }} </p>
{% endif %}


{% if not seminar.display %}
<p>
This seminar is not publicly listed, since the creator of the seminar is not yet endorsed.
Once the creator is endorsed, the seminar and its talks will be made public, and the
creator will be able to endorse others.
If you are seeking an endorsement, see if you know anyone on this <a href="{{ url_for('user.public_users') }}">list</a> of all seminar organizers and curators.
</p>
{% endif %}
{% if seminar.topics %}
  <p>{{seminar.show_topics() | safe}}</p>
{% endif %}
{% if seminar.institutions %}
  <p>{{seminar.show_institutions() | safe}}</p>
{% endif %}

<table style="border-collapse:separate; border-spacing: 0px 10px;">
<tr>
  <td style="padding:0px;">Audience:</td>
  <td>{{ seminar.show_audience() | safe }}</td>
</tr>
{% if seminar.is_conference %}
<tr>
  <td style="padding:0px;">Conference date{% if seminar.start_date != seminar.end_date %}s{% endif %}:</td>
  <td>{{ seminar.show_conference_dates() | safe }}</td>
</tr>
{% elif seminar.frequency %}
<tr>
  <td style="padding:0px;">Seminar series time{% if (seminar.weekdays | length) > 1 %}s{% endif %}:</td>
  <td>{{seminar.show_seminar_times() | safe }}{% if seminar.timezone != user.timezone %} in your time zone, {{ user.timezone.replace("_", " ") }}{% endif %}.</td>
</tr>
{% endif %}
{% set n = seminar.num_visible_organizers() %}
{% if n > 0 %}
<tr>
  <td style="padding:0px;">Organizer{%if n > 1 %}s{% endif %}:</td>
  <td>{{ seminar.show_organizers() | safe }}</td>
</tr>
{% endif %}
{% set n = seminar.num_visible_curators() %}
{% if n > 0 %}
<tr>
  <td style="padding:0px;">Curator{%if n > 1 %}s{% endif %}:</td>
  <td>{{ seminar.show_curators() | safe }}</td>
</tr>
{% endif %}
<tr><td style="padding:0px;"></td><td class="forminfo">*contact for this listing</td></tr>
</table>

{% if seminar.comments %}
  <hr>
  <p>
    {{ seminar.show_comments() | safe }}
  </p>
{% endif %}

<div class="time_toggler">
  <header class="inner">
    <div class="time_toggler_inner">
      <div id="toggle_to_future" class="toggler-nav toggler-active">
        Upcoming talks
      </div>
      <div id="toggle_to_past" class="toggler-nav">
        Past talks
      </div>
    </div>
  </header>
</div>

<div id="future_talks">
  {% if future %}
  <table class="ntdata">
    <thead>
      <tr>
        {{ talks_header(include_seminar=False) | safe }}
      </tr>
    </thead>
    {% for talk in future %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
  <div>
    {{ seminar.show_knowl_embed(daterange="future", uniqstr="1")| safe }}
  </div>
  {% endif %}
</div>
{% if past %}
<div id="past_talks">
  <table class="ntdata">
    <thead>
      <tr>
        {{ talks_header(include_seminar=False) | safe }}
      </tr>
    </thead>
    {% for talk in past %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
  <div>
    {{ seminar.show_knowl_embed(daterange="past", uniqstr="2")| safe }}
  </div>
</div>
{% endif %}

{{ calendar_block('series', seminar) }}


{% if past and not future %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  toggle_time("toggle_to_past");
});
</script>
{% endif %}

{% endblock %}
