{% extends 'homepage.html' %}

{% block content %}

<h1>{% if seminar.homepage %}<a href="{{seminar.homepage}}">{{seminar.name}}</a>{% else %}{{seminar.name}}{% endif %}{% if not seminar.display %} (hidden){% elif seminar.archived %} (inactive){% elif seminar.online %} (online){% endif %}</h1>

{% if seminar.description %}<p>{{seminar.description}}</p>{% endif %}

{% if seminar.comments %}<p>{{seminar.comments}}</p>{% endif %}

{% if future and past %}
<button id="timetoggle" href="#">View past talks</button>
{% endif %}
<div id="future_talks">
{% if future %}
  <h3>Upcoming talks</h3>
  <table>
    {% for talk in future %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
{% endif %}
</div>
{% if past %}
{% if not future %}
<p> There are no upcoming talks. </p>
{% endif %}
<div id="past_talks">
  <h3>Past talks</h3>
  <table>
    {% for talk in past %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% if past and not future %}
<script>
$(document).ready(function () {
  toggle_time();
});
</script>
{% endif %}

{% endblock %}
