  <table class="ntdata" id="embed_content">
    {# DOM standard says that caption should be the first child of table  #}
    <caption>Schedule hosted at <a href="{{url_for("show_seminar", shortname=shortname, _external=_external) }}">researchseminars.org</a></caption>
    <thead>
      <tr>
        {% if past %}
          {{ talks_header(include_seminar=False, include_subscribe=False,  datetime_header="Past times") | safe }}
        {% else %}
          {{ talks_header(include_seminar=False, include_subscribe=False,  datetime_header="Time") | safe }}
        {% endif %}
      </tr>
    </thead>
    {% for talk in talks %}
    <tr>
      {{ talk.oneline(include_seminar=False, include_subscribe=False, tz=timezone, _external=_external) | safe }}
    </tr>
    {% endfor %}
  </table>
