{% extends 'homepage.html' %}

{% block content %}

<span style="display: inline-flex">
  <h1 style="padding-right: 0.5em;">
    {{ seminar.show_name(show_attributes=True,plain=True) | safe }}
  </h1>
  {{seminar.show_subscribe() | safe }}
</span>
{% if seminar.homepage %}
  <p style="padding: 0x; margin: 0px;"> {{ seminar.show_homepage() | safe }} </p>
{% endif %}


{% if not seminar.display %}
<p>
This seminar is not publicly listed, since the creator of the seminar is not yet endorsed.
Once the creator is endorsed, the seminar and its talks will be made public, and the
creator will be able to endorse others.
If you are seeking an endorsement, see if you know anyone on this <a href="{{ url_for('user.public_users') }}">list</a> of all seminar organizers and curators.
</p>
{% endif %}
{% if seminar.topics %}
<p>
  {{seminar.show_topics() | safe}}
</p>
{% endif %}
{% if seminar.institutions %}
  <p>
    {{seminar.show_institutions() | safe}}
  </p>
{% endif %}
{% if seminar.description %}
  <p>
    Description: {{(seminar.description | blanknone) | safe }}
  </p>
{% endif %}

{% if seminar.weekday is not none or seminar.start_time %}
  <p>{{ seminar.show_weektime_and_duration() }}{% if seminar.timezone != current_user.timezone %} in your time zone, {{ current_user.timezone.replace("_", " ") }}. {% endif %}</p>
  {% if (not seminar.online or seminar.room) and seminar.timezone != current_user.timezone %}
    <p>{{ seminar.show_weektime_and_duration(adapt=False) }} in seminar time zone, {{ seminar.timezone.replace("_", " ") }}.</p>
  {% endif %}
{% endif %}


<table>
  {{ seminar.show_organizers() | safe }}
  {{ seminar.show_curators() | safe }}
  <td></td><td class="forminfo">*contact</td>
</table>



{% if seminar.comments %}
  <hr>
  <p>
    {{ seminar.show_comments() | safe }}
  </p>
{% endif %}

<div class="time_toggler">
  <header class="inner">
    <div class="time_toggler_inner">
      <div id="toggle_to_future" class="toggler-nav toggler-active">
        Upcoming talks
      </div>
      <div id="toggle_to_past" class="toggler-nav">
        Past talks
      </div>
    </div>
  </header>
</div>

<div id="future_talks">
  {% if future %}
  <table class="ntdata">
    <thead>
      <tr>
        {{ talks_header(include_seminar=False) | safe }}
      </tr>
    </thead>
    {% for talk in future %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% if past %}
<div id="past_talks">
  <table class="ntdata">
    <thead>
      <tr>
        {{ talks_header(include_seminar=False) | safe }}
      </tr>
    </thead>
    {% for talk in past %}
    <tr>
      {{ talk.oneline(include_seminar=False) | safe }}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% if past and not future %}
<script>
$(document).ready(function () {
  toggle_time();
});
</script>
{% endif %}

{% endblock %}
