{% extends 'homepage.html' %}

{% block content %}

{% if user_is_authenticated %}
{% if seminar_subscriptions or talk_subscriptions %}
<p>Add instructions for downloading calendar file...</p>
{% else %}
<p>
  You can <a href="{{ url_for('search') }}">search</a> for seminars and talks to follow.
  Once you are following some, you can import them into your calendar application (e.g. Google calendar or Apple iCal)
</p>
{% endif %}

{% if seminar_subscriptions %}
<h2>Seminar subscriptions</h2>

<table>
{% for seminar in seminar_subscriptions %}
<tr>
  {% include 'seminar_line.html' %}
</tr>
{% endfor %}
</table>
{% endif %} {# seminar_subscriptions #}
{% if talk_subscriptions %}
<h2>Talk subscriptions</h2>

<table>
{% for talk in talk_subscriptions %}
<tr>
  {% include 'talk_line.html' %}
</tr>
{% endfor %}
</table>
{% endif %} {# talk_subscriptions #}
{% else %} {# user_is_authenticated #}
<p>
  Once you <a href="{{url_for('user.register')}}">register</a> and <a href="{{url_for('user.info')}}">log in</a>, you can add seminars and talks to your personal subscription.  These are then available to import into a calendar app such as Google calendar or Apple iCal.
</p>
{% endif %}
{% endblock %}
