{% extends 'homepage.html' %}

{% block content %}

<h1>{{talk.show_title(visibility_info=True)}}</h1>
<div class="talk-title">
  <h3><i>{{ talk.show_speaker() | safe }}</i></h3>
</div>

{% if not talk.display %}
<p>
This talk is part of a seminar that is not publicly listed yet.
Once the seminar's creator is endorsed, the seminar and its talks will be made public, and the seminar's creator will be able to endorse other users.
<br>
<br>
If you are seeking an endorsement, ask someone on <a href="{{ url_for('user.public_users') }}">this list</a> of all seminar organizers and curators.
</p>
{% endif %}

<div class="talk-body">
    <b>{{ talk.show_time_and_duration() | safe }}</b>
    {% if not talk.is_past() %}
      {% if talk.room %}
        <br>Lecture held in {{ talk.room }}.
      {% endif %}
      {{ talk.show_live_link() | safe }}
    {% endif %}

  <div style="clear:both;"></div>

  <div class="talk-details-container">
  {% if talk.abstract %}
  {{ talk.show_abstract() | safe }}
  {% endif %}

  {% if talk.language != "en" or talk.topics %}
  <p>
    {{talk.show_lang_topics() | safe}}
  </p>
  {% endif %}

  {% if talk.paper_link or talk.slides_link or talk.video_link %}
  <p>{{talk.show_content_links() | safe}}</p>
  {% endif %}

  {% if talk.comments and talk.comments != talk.seminar.comments %}
  <p><b>Comments </b></p>
  {{talk.show_comments() | safe}}
  {% endif %}

  <hr>

  <p>
    <b>{{ talk.show_seminar() | safe }} </b>
  </p>

  {% if talk.seminar.comments %}

  <p><b>Series comments</b></p>
  {{talk.seminar.show_comments() | safe}}
  {% endif %}

  <div style="font-size: 90%;">
    <table>
      {{ seminar.show_organizers() | safe }}
      {{ seminar.show_curators() | safe }}
      <tr><td></td><td class="forminfo">*contact</td></tr>
    </table>
  </div>
  <hr>
  {% if user.email in talk.seminar.editors() or user.is_subject_admin(talk) %}
  <p>{{ talk.send_speaker_link() | safe }}</p>
  {% endif %}
</div>

{{ calendar_block('talk', talk) }}

{% endblock %}
