<div class="talk-body">
  <div class="talk-header-container">
      <div class="talk-title">
        <h3>{{ talk.show_title() | safe }}<br> <i>{{ talk.show_speaker() | safe }}</i></h3>
      </div>
      <div class="talk-view">
        ( <a href="{{url_for('show_talk', semid=talk.seminar_id, talkid=talk.seminar_ctr)}}">view</a> {% if talk.user_can_edit() %} | <a href="{{url_for('create.edit_talk', seminar_id=talk.seminar_id, seminar_ctr=talk.seminar_ctr)}}">edit</a> {% endif %} )
      </div>
  </div>
  <div style="clear:both;"></div>

  <div class="talk-details-container">
  {% if talk.abstract %}
    {{ talk.show_abstract() | safe }}
  {% endif %}

  {% if talk.language != "en" or talk.topics %}
    <p>
      {{talk.show_lang_topics() | safe}}
    </p>
  {% endif %}

  {% if talk.paper_link or talk.slides_link or talk.video_link %}
  <p><b>Talk content</b></p>
  <ul>{% if talk.paper_link %}<li>{{ talk.show_paper_link() | safe }}</li>{% endif %}
      {% if talk.slides_link %}<li>{{ talk.show_slides_link() | safe }}</li>{% endif %}
      {% if talk.video_link %}<li>{{ talk.show_video_link() | safe }}</li>{% endif %}
  </ul>
  {% endif %}

  {% if talk.comments and talk.comments != talk.seminar.comments %}
  <p><b>Comments</b></p>
  {{talk.show_comments() | safe}}
  {% endif %}

  <hr>

  <p>
    <b>{{ talk.show_seminar() | safe }} </b>
  </p>

  {% if talk.seminar.comments %}

  <p><b>Series comments </b></p>
  {{talk.seminar.show_comments() | safe}}
  {% endif %}

   <div align="right">
        <p>
    <b>{{ talk.show_time_and_duration() | safe }}</b>
  </p>

  {% if not talk.is_past() %}
    {% if talk.room %}
      <p>Lecture held in {{ talk.room }}.</p>
    {% endif %}
       {{ talk.show_live_link() | safe }}
  {% endif %}
  </div>

</div>
</div>

