{% extends 'homepage.html' %}

{% block content %}

{% if user.email in talk.seminar.editors() or user.is_admin %}
<p>{{ talk.send_speaker_link() | safe }}</p>
{% endif %}

<h1>{{talk.show_title()}}{% if not talk.display %} (hidden){% elif talk.online %} (online){% endif %}</h1>

{% if not talk.display %}
<p>
This talk is part of a seminar that is not publicly listed yet.
Once the seminar's creator is endorsed, the seminar and its talks will be made public, and the seminar's creator will be able to endorse other users.
<br>
<br>
If you are seeking an endorsement, ask someone on <a href="{{ url_for('user.public_users') }}">this list</a> of all seminar organizers and curators.
</p>
{% endif %}

<div class="talk-body">
  <p>
    {{ talk.show_speaker_and_seminar() | safe }}
  </p>

  <p>
    {{ talk.show_time_and_duration() | safe }}{% if talk.timezone != current_user.timezone %} in your time zone, {{ current_user.timezone.replace("_", " ") }}.{% endif %}
  </p>

  <p>
    {{ talk.show_live_link() | safe }}
    {% if talk.room %}
    Lecture held in {{ talk.room }}.
    {% endif %}
  </p>


  <h3> Abstract </h3>
  {{ talk.show_abstract() | safe }}

  {% if talk.comments %}
  <hr>
  <p>{{talk.show_comments() | safe}}</p>
  {% endif %}

</div>

{% endblock %}
