{% extends 'homepage.html' %}

{% block content %}

{% if user.email in talk.seminar.editors() or user.is_admin() %}
<form action="{{url_for('create.edit_talk')}}" method="POST">
  <input type="hidden" name="seminar_id" value="{{talk.seminar_id}}" />
  <input type="hidden" name="seminar_ctr" value="{{talk.seminar_ctr}}" />
  <button type="submit">Edit talk</button>
  {{ talk.send_speaker_link() | safe }}
</form>
{% endif %}

<h1>{{talk.show_title()}}{% if not talk.display %} (hidden){% elif talk.online %} (online){% endif %}</h1>

<div id="talk-body">
  <p>
    {{ talk.show_speaker_and_seminar() | safe }}
  </p>

  <p>
    {{ talk.show_time_and_duration() | safe }}
  </p>

  <p>
    {{ talk.show_live_link() | safe }}
    {% if talk.room %}
    Lecture held in {{ talk.room }}.
    {% endif %}
  </p>

  {% if talk.description %}
  <p>{{talk.description}}</p>
  {% endif %}

  <h3> Abstract </h3>
  talk.show_abstract()

  {% if talk.comments %}
  <p>{{talk.comments}}</p>
  {% endif %}

</div>

{% endblock %}
