<script>
if (navigator.cookieEnabled) {
  const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
  document.cookie = "browser_timezone=" + tz + ";path=/"
  console.log(document.cookie)
  window.location.replace("{{url}}")
}
</script>
<p>
  You should have been redirected :(
</p>
<p>
Seminars need cookies
</p>
<p>
  Please enable javascript and accept our cookies :)
</p>
<a href="https://www.youtube.com/watch?v=Ye8mB6VsUHw">
<image  width="640" height="360" src="http://i3.ytimg.com/vi/Ye8mB6VsUHw/maxresdefault.jpg">
</a>
