[submodule "lmfdb"]
	path = lmfdb
	url = https://github.com/jamiesully/lmfdb.git
[submodule "seminars/static/select-pure"]
	path = seminars/static/select-pure
	url = https://github.com/dudyn5ky1/select-pure.git

