email_validator
html2text
python-dateutil
Flask-Mail
flask_cors
itsdangerous
icalendar
iso639
PyYAML
flask-login
bcrypt
# the pgbinary extra installs the driver psycodict itself is built on
psycodict[pgbinary] @ git+https://github.com/roed314/psycodict.git
pytz>=2021
