{% extends 'homepage.html' %}

{% block content %}

<div class="text_content">
{% if not user.is_creator %}
<p>
  You are currently not endorsed.
  If you want to add seminars to the site, you need to be endorsed by someone on the site.
  Once you have been endorsed, you can
  endorse others. See if you know anyone on this <a href="{{ url_for('user.public_users') }}">list</a> of
  all seminar organizers and curators if you are seeking an
  endorsement.
{% endif %}

{% if user.affiliation and not institution_known(user.affiliation) %}
<p> Your affiliation doesn't appear to be on our list of institutions.  You may want to <a href="{{ url_for('list_institutions') }}">add your institution</a> before creating a seminar.
{% endif %}

<h2>Create a seminar or conference</h2>

<form action="{{ url_for('.edit_seminar') }}" method="POST">
  <input type="hidden" name="new" value="yes"/>
  <input type="hidden" name="institutions" value=""/>
  <table id="make_semconf">
    <tr>
      <th>Type</th>
      <td>
        <select name="is_conference" style="width:100px;">
          <option value="yes">conference</option>
          <option value="no" selected>seminar</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Identifier</th>
      <td><input name="shortname" placeholder="ShortLabel" /></td>
    </tr>
    <tr>
      <td class="forminfo" colspan="2">The identifier is used in the URL, so use only letters, numbers, hyphens and underscores - no spaces.</td>
    </tr>
    <tr>
      <th>Full name</th>
      <td><input size="40" name="name" style="width:500px;" placeholder="Pangaea analysis seminar"/></td>
    </tr>
    <tr>
      <td class="forminfo" colspan="2">Generally, capitalize only the first word and proper names.</td>
    </tr>
    <tr>
      <th>Institutions</th>
      <td>
        <span id="institution_selector"></span>
      </td>
    <tr>
      <td class="forminfo" colspan="2">If an institution associated with the seminar isn't in the dropdown list, <a href="{{ url_for('list_institutions') }}">add it</a> before or after creating the seminar.</td>
    </tr>
    <tr>
      <td><button type="submit">Create</button></td>
    </tr>
  </table>
</form>


{% set pair = [('Seminars you organize', seminars), ('Conferences you organize', conferences)] %}
{% for title, list in pair %}
  {% if list %}
    <h2>{{ title }}</h2>
    <table class="ntdata">
    <thead>
      <th>Name</th>
      <th colspan="1" style="border-left: solid 1px;text-align: center;">Role</th>
      <th colspan="2" style="border-left: solid 1px;text-align: center;">Edit</th>
      <th colspan="1" style="border-left: solid 1px;text-align: center;">View</th>
    </thead>
    <tbody>
      {% for row in list %}
      {% set elt, role = row  %}
      <tr>
        <td> {{elt.name}} {% if not elt.display %} (hidden){% elif elt.archived %} (inactive){% elif elt.online %} (online){% endif %}</td>
        <td style="border-left: solid 1px;"> {{role}} </td>
        <td style="border-left: solid 1px;"> <a href='{{ url_for(".edit_seminar_schedule", shortname=elt.shortname) }}'>Schedule</a></td>
        <td> <a href='{{ url_for(".edit_seminar", shortname=elt.shortname) }}'>Properties</a></td>
        <td style="border-left: solid 1px;"> <a href='{{ url_for("show_seminar", shortname=elt.shortname) }}'>{{elt.shortname}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  {% endif %}
{% endfor %}
{% if not seminars and not conferences %}
<p>To add a talk, create a seminar first.</p>
{% endif %}
</div>

<script type="text/javascript">

const instOptions = [
  {% for iid, name in institutions %}
  {
    label: "{{ name }}",
    value: "{{ iid }}",
  },
  {% endfor %}
];

$(document).ready(function() {
  var instSelector = makeInstitutionSelector(instOptions, []);
});
</script>

{% endblock %}
