{% extends 'homepage.html' %}

{% block content %}

{% if not user_is_creator %}
<p>Warning: seminars and talks you create will not appear until you are <a href="">approved</a>.</p>
{% endif %}

<p> You can create a <a href='{{ url_for(".create_seminar") }}'>new seminar</a>. </p>

{% if seminars %}
<p> You are an organizer for the following seminars: </p>
<ul>
  {% for semid, semname in seminars %}
  <li> <a href='{{ url_for(".edit_seminar", semid=semid) }}'>{{semname}}</a> </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
