{% extends "homepage.html" %}
{% block content %}

{% if talk.seminar.user_can_edit() %}
<p>
  {{ talk.send_speaker_link() | safe }}
</p>
{% endif %}

<form it="talkform" action="{{ url_for('.save_talk') }}" method="POST">
  <input type="hidden" name="seminar_id" value="{{ talk.seminar_id }}"/>
  <input type="hidden" name="seminar_ctr" value="{{ talk.seminar_ctr | blanknone }}"/>
  <input type="hidden" name="new" value="{{ 'yes' if talk.new else 'no' }}"/>
  <input type="hidden" name="token" value="{{ talk.token }}"/>
  <input type="hidden" name="topics" value="{{ talk.topics | safe }}"/>
  <input type="hidden" name="language" value="{{ seminar.language  | safe }}"/>
  <table>
    <tr>
      <td>
        Seminar
      </td>
      <td>
        <a href="{{ url_for('show_seminar', shortname=talk.seminar_id) }}">{{ seminar.name | blanknone }}</a>
      </td>
    </tr>
    <tr>
      <td>Topics</td>
      <td>
            <span id="topic_selector"></span>
      </td>
    </tr>
    <tr>
      <td>Language</td>
      <td>
        <span id="language_selector"></span>
      </td>
    </tr>
    <tr>
      <td>Time zone</td>
      <td>
        <select name="timezone" style="width:510px;">
          {% for tz, disp in timezones %}
          <option value="{{ tz }}"{% if talk.timezone == tz %} selected{% endif %}>{{disp}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Start</td>
      <td><input name="start_time" value="{{ talk.editable_start_time() }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>End</td>
      <td><input name="end_time" value="{{ talk.editable_end_time() }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Room</td>
      <td><input name="room" value="{{ talk.room | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Online</td>
      <td>
        <select name="online" style="width:510px;">
          <option value="yes"{% if talk.online %} selected{% endif %}>yes</option>
          <option value="no"{% if not talk.online %} selected{% endif %}>no</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Livestream link</td>
      <td><input name="live_link" value="{{ talk.live_link | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Access</td>
      <td>
        <select name="access" style="width:510px;">
          <option value="open"{% if talk.access == 'open' %} selected{% endif %}>All visitors can view link</option>
          <option value="users"{% if talk.access == 'users' %} selected{% endif %}>Only logged-in users can view link</option>
          <option value="endorsed"{% if talk.access == 'endorsed' %} selected{% endif %}>Only endorsed users can view link</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Videorecording link</td>
      <td><input name="video_link" value="{{ talk.video_link | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td colspan="2">Comments</td>
    </tr>
    <tr>
      <td colspan="2"><textarea cols="80" rows="3" name="comments">{{ talk.comments | blanknone }}</textarea></td>
    </tr>
  </table>
  <hr style="width: 700px;">
  <table>
    <tr>
      <td>Speaker</td>
      <td><input name="speaker" value="{{ talk.speaker | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Speaker email</td>
      <td><input name="speaker_email" value="{{ talk.speaker_email | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Speaker affiliation</td>
      <td><input name="speaker_affiliation" value="{{ talk.speaker_affiliation | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>Speaker homepage</td>
      <td><input style="width:500px;" name="speaker_homepage" value="{{ talk.speaker_homepage | blanknone }}" /></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input name="title" id="inp_title" value="{{ talk.title | blanknone }}" style="width:500px;" placeholder="TeX symbols are OK here" /></td>
      <td class="forminfo" />Generally, capitalize only the first word and proper names.</td>
    </tr>
    <tr>
      <td>Slides link</td>
      <td><input name="slides_link" value="{{ talk.slides_link | blanknone }}" style="width:500px;" /></td>
    </tr>
  </table>
  <h3>Abstract</h3>
  <table>
    <tr>
      <td colspan="2">
        <textarea cols="80" rows="10" name="abstract" id="inp_abstract" placeholder="TeX symbols are OK here">{{talk.abstract | blanknone }}</textarea>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <button type="submit" onclick="return set_saved();">Save</button>
      </td>
      <td>
        <a style="margin-left: 30px" onclick="unsaved = false;" href="{% if talk.new %}{{ url_for('show_seminar', shortname=talk.seminar_id) }}{% else %}{{ url_for('show_talk', semid=talk.seminar_id, talkid=talk.seminar_ctr) }}{% endif %}">Cancel changes</a>
      </td>
      <td>
        <a id="refresh-view" onclick="delay_refresh(); return false;" style="display: none;" href="#">(Refresh)</a>
      </td>
      <td>
        {% if talk.user_can_delete() %}
        <a style="margin-left: 30px"  href="{{ url_for("create.delete_talk", semid=talk.seminar_id, semctr=talk.seminar_ctr) }}" onclick="unsaved = false;return confirm('Are you sure you want to delete this item?');">
          <button type="button">
            Delete talk
          </button>
        </a>
        {% endif %}
      </td>
    </tr>
  </table>
</form>

<div id="view-wrapper" class="knowl" style="width:670px;">
  <div id="view-preview">
    <h1 id="view-title"></h1>
    <div id="view-abstract"></div>
  </div>
</div>

<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/markitup/1.x@1.1.15/markitup/jquery.markitup.js"
        integrity="sha256-BiawY8kuGhVgPmV3XSWamEheAvBvH9VeZbzR16BdvAM="
        crossorigin="anonymous"></script>
{# depends on color #}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup.css')}}" />
{# settings for the editor menus and the stylesheet #}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.markitup.markdown.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown.css')}}" />

<script type="text/javascript" src="{{ url_for('static', filename='talk_edit.js') }}"></script>
<script type="text/javascript">
/* prevent accidental closing of browser window */
{{ prevent_unsaved() }}

/* register keyhandlers */
$(function() {
  $("#inp_title").keyup(delay_refresh);
  $("#inp_abstract").keyup(delay_refresh);
  refresh_preview();
});

// register any input change
$("#talkform :input").change(function() {
  unsaved = true;
});

$(document).ready(
function() {
  $('#kcontent').markItUp(myMarkdownSettings);
});

/* topic and inst selector */
const topicOptions = [
  {% for ab, topic in topics %}
  {
    label: "{{ topic }}",
    value: "{{ ab }}",
  },
  {% endfor %}
];

const langOptions = [
  {% for code, name in languages_dict.items() %}
  {
    label: "{{ name }}",
    value: "{{ code }}",
  },
  {% endfor %}
];

$(document).ready(function() {
  var topicSelector = makeTopicSelector(
    topicOptions,
    {% if talk.new or not talk.topics %}[]{% else %}{{ talk.topics | safe }}{% endif %},
  );
  var langSelector = makeLanguageSelector(
    langOptions,
    "{{ talk.language }}");
});
</script>

{% endblock %}
