{% extends "homepage.html" %}
{% block content %}

<p> You can edit or create talks below.  Note that you cannot currently delete talks once you create them.

<p> To change the day of week or frequency of meeting, <a href="{{ url_for('.edit_seminar', shortname=seminar.shortname) }}">edit the seminar</a>.</p>

<p> The edit link for existing seminars can be sent to speakers so that they can edit the talk without an account.</p>

<form action="{{ url_for('.save_seminar_schedule') }}" method="POST">
  <input type="hidden" name="shortname" value="{{ seminar.shortname }}"/>
  <input type="hidden" name="new" value="{{ 'yes' if seminar.new else 'no' }}"/>
  <input type="hidden" name="schedule_count" value="{{ all_dates | length }}" />
  <table>
    <tr>
      <td>Meeting day</td>
      <td>{{ weekdays[seminar.weekday] }}</td>
      <td>Meeting frequency</td>
      <td>{% if seminar.frequency == 7 %}Weekly{% elif seminar.frequency == 14 %}Biweekly{% elif seminar.frequency == 1 %}Daily{% else %}Once every {{ seminar.frequency }} days{% endif %}</td>
    </tr>
    <tr>
      <td>Start time</td>
      <td><input name="start_time" style="width:140px;" value="{{ seminar.start_time.strftime('%-H:%M') if seminar.start_time }}" /></td>
      <td>End time</td>
      <td><input name="end_time" style="width:140px;" value="{{ seminar.end_time.strftime('%-H:%M') if seminar.end_time }}" /></td>
      <td>Update existing times <input type="checkbox" name="update_times" value="yes" /></td>
    </tr>
  </table>
  <h2>Upcoming schedule <button type="submit">Save changes</button></h2>
  <table>
    <tr>
      <td></td>
      <td>Date</td>
      <td>Speaker</td>
      <td>Affiliation</td>
      <td>Email</td>
      <td>Title</td>
      <td>Edit link</td>
    </tr>
    {% for date in all_dates %}
    {% set i = loop.index0 %}
    {% if date in by_date %}
    {% set talk = by_date[date] %}
    <tr>
      <input type="hidden" name="seminar_ctr{{i}}" value="{{ talk.seminar_ctr }}" />
      <input type="hidden" name="date{{i}}" value="{{ date.isoformat() }}" />
      <td>
        {{ talk.edit_link() | safe }}
      </td>
      <td>
        {{ date.strftime("%a %b %-d") }}
      </td>
      <td>
        <input name="speaker{{i}}" value="{{ talk.speaker | blanknone }}" style="width:160px;" />
      </td>
      <td>
        <input name="speaker_affiliation{{i}}" value="{{ talk.speaker_affiliation | blanknone }}" style="width:160px;" />
      </td>
      <td>
        <input name="speaker_email{{i}}" value="{{ talk.speaker_email | blanknone }}" style="width:160px;" />
      </td>
      <td>
        <input name="title{{i}}" value="{{ talk.title | blanknone }}" style="width:160px;" />
      </td>
      <td>
        <a href="{{ talk.speaker_link() }}">Link</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <input type="hidden" name="seminar_ctr{{i}}" value="" />
      <input type="hidden" name="date{{i}}" value="{{ date.isoformat() }}" />
      <td></td>
      <td>
        {{ date.strftime("%a %b %-d") }}
      </td>
      <td>
        <input name="speaker{{i}}" stype="width:160px;" />
      </td>
      <td>
        <input name="speaker_affiliation{{i}}" style="width:160px;" />
      </td>
      <td>
        <input name="speaker_email{{i}}" style="width:160px;" />
      </td>
      <td>
        <input name="title{{i}}" style="width:160px;" />
      </td>
      <td></td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</form>

{% endblock %}
