{% extends "homepage.html" %}
{% block content %}

<form action="{{ url_for('.save_institution') }}" method="POST" id=>
  <input type="hidden" name="shortname" value="{{ institution.shortname }}"/>
  <input type="hidden" name="new" value="{{ 'yes' if institution.new else 'no' }}"/>
  <table>
    <tr>
      <td>{{ KNOWL('institution_shortname') }}</td>
      <td>{{ institution.shortname }}</td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_name') }}</td>
      <td><input name="name" id="sname" value="{{ institution.name | blanknone }}" style="width:500px;" /></td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_type') }}</td>
      <td>
        <select name="type" style="width:510px;">
          {% for itype, disp in institution_types %}
          <option value="{{itype}}"{% if institution.type == itype %} selected{% endif %}>{{ disp }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_homepage') }}</td>
      <td><input style="width:500px;" name="homepage" value="{{ institution.homepage | blanknone }}" placeholder="https://math.mit.edu/"/></td>
    </tr>
    <tr>
      <td>{{ KNOWL('institution_city') }}</td>
      <td><input name="city" value="{{ institution.city | blanknone }}" style="width:500px;" placeholder="Cambridge, MA, USA"/></td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_timezone') }}</td>
      <td>
        <select name="timezone" style="width:510px;">
          {% for tz, disp in timezones %}
          <option value="{{ tz }}"{% if institution.timezone == tz %} selected{% endif %}>{{disp}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_admin') }}</td>
      <td><input name="admin" value="{{ institution.admin }}" style="width:500px;" /></td>
    </tr>
  </table>
  <button type="submit" onclick="return set_saved();">Save</button>

  <a style="margin-left: 30px" onclick="unsaved = false;" href="{% if institution.new %}{{ url_for('list_institutions') }}{% else %}{{ url_for('show_institution', shortname=institution.shortname) }}{% endif %}">cancel</a>
</form>
<script type="text/javascript">
/* prevent accidental closing of browser window */
window.onbeforeunload = function() {
  if(unsaved) {
    return "There are unsaved edits. Really close?";
  }
}
</script>

{% endblock %}
