{% extends "homepage.html" %}
{% block content %}

<div class="text_content">
<h1>{{seminar.name}}</h1>
<p> To add a talk at a regularly scheduled time, enter Speaker (and optionally Email, Affiliation, and Title) in row(s) of the table; and then click "Save changes" or any "Details" link.</p>

<p>To add a talk at <i>any</i> time, under <a href="#add_new_talk">Add talk</a>, enter Date, Start and End times, and Speaker (and optionally Email, Affiliation, and Title); then click "Save changes" or any "Details" link.</p>


<p>All times are shown in the seminar's time zone, {{ seminar.timezone }}.</p>
</div>

<form action="{{ url_for('.save_seminar_schedule') }}" method="POST">
  <input type="hidden" name="shortname" value="{{ seminar.shortname }}"/>
  <input type="hidden" name="new" value="{{ 'yes' if seminar.new else 'no' }}"/>
  <input type="hidden" name="schedule_count" value="{{ all_dates | length }}" />
  <input type="hidden" name="referrer" value="schedule" />
  <div><div class="inlineh2">Upcoming schedule</div> <button type="submit" class="textbottom">Save changes</button> <a style="margin-left: 30px" href="{{ url_for('.edit_seminar_schedule', shortname=seminar.shortname) }}">Cancel changes</a></div>
  <table id="edit-schedule-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Speaker</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    {% for date in all_dates %}
    {% set i = loop.index0 %}
    {% if date in by_date %}
    {% for talk in by_date[date] %}
    <tr>
      <td class="date">
        {{ date.strftime("%a %b %-d") }}
      </td>
      <td class="timerange">
        {{ talk.start_time.strftime("%-H:%M") }}-{{ talk.end_time.strftime("%-H:%M") }}
      </td>
      <td class="speakerinp">
        <input name="speaker{{i}}" value="{{ talk.speaker | blanknone }}" />
      </td>
      <td class="emailinp">
        <input name="speaker_email{{i}}" value="{{ talk.speaker_email | blanknone }}" />
      </td>
      <td class="affiliationinp">
        <input name="speaker_affiliation{{i}}" value="{{ talk.speaker_affiliation | blanknone }}" />
      </td>
      <td class="titleinp">
        <input name="title{{i}}" value="{{ talk.title | blanknone }}" />
      </td>
      <td>
        {{ talk.details_link() | safe }}
      </td>
      <input type="hidden" name="seminar_ctr{{i}}" value="{{ talk.seminar_ctr }}" />
      <input type="hidden" name="date{{i}}" value="{{ date.isoformat() }}" />
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td class="date">
        {{ date.strftime("%a %b %-d") }}
      </td>
      <td class="timerange">
        {% if seminar.start_time and seminar.end_time %}
        {{ seminar.start_time.strftime("%-H:%M") }}-{{ seminar.end_time.strftime("%-H:%M") }}
        {% else %}
        <input name="time{{i}}" value="{{ raw_data['time%s'%i] }}" placeholder="15:00-16:00" />
        {% endif %}
      </td>
      <td class="speakerinp">
        <input name="speaker{{i}}" value="{{ raw_data['speaker%s'%i] }}" />
      </td>
      <td class="emailinp">
        <input name="speaker_email{{i}}" value="{{ raw_data['speaker_email%s'%i] }}" />
      </td>
      <td class="affiliationinp">
        <input name="speaker_affiliation{{i}}" value="{{ raw_data['speaker_affiliation%s'%i] | blanknone }}" />
      </td>
      <td class="titleinp">
        <input name="title{{i}}" value="{{ raw_data['title%s'%i] }}" />
      </td>
      <td></td>
      <input type="hidden" name="seminar_ctr{{i}}" value="" />
      <input type="hidden" name="date{{i}}" value="{{ date.isoformat() }}" />
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td colspan="7" class="tblh3">
        Add talk (time not listed above)
      </td>
    </tr>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Speaker</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td class="date">
        <input name="dateX" value="{{ raw_data.dateX | blanknone }}" />
      </td>
      <td class="timerange">
        <input name="timeX" value="{% if seminar.start_time and seminar.end_time %}{{ seminar.start_time.strftime('%-H:%M') }}-{{ seminar.end_time.strftime('%-H:%M') }}{% endif %}" />
      </td>
      <td class="speakerinp">
        <input name="speakerX" value="{{ raw_data.speakerX | blanknone }}" />
      </td>
      <td class="emailinp">
        <input name="emailX" value="{{ raw_data.emailX | blanknone }}" />
      </td>
      <td class="affiliationinp">
        <input name="speaker_affiliationX" value="{{ raw_data.speaker_affiliationX | blanknone }}" />
      </td>
      <td class="titleinp">
        <input name="titleX" value="{{ raw_data.titleX | blanknone }}" />
      </td>
    </tr>
  </table>
</form>

<div name="add_new_talk">

</div>

{% endblock %}
