{% extends "homepage.html" %}
{% block content %}

<form action="{{ url_for('.save_institution') }}" method="POST" id=>
  <input type="hidden" name="shortname" value="{{ institution.shortname }}"/>
  <input type="hidden" name="new" value="{{ 'yes' if institution.new else 'no' }}"/>
  <table>
    <tr>
      <td>{{ KNOWL('institution_shortname') }}</td>
      <td>{{ institution.shortname }}</td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_name') }}</td>
      <td><input name="name" id="sname" value="{{ institution.name | blanknone }}" style="width:500px;" maxlength="{{ maxlength['institutions.name'] }}"/></td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_type') }}</td>
      <td>
        <select name="type" style="width:510px;">
          {% for itype, disp in institution_types %}
          <option value="{{itype}}"{% if institution.type == itype %} selected{% endif %}>{{ disp }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_homepage') }}</td>
      <td><input style="width:500px;" name="homepage" value="{{ institution.homepage | blanknone }}" maxlength="{{ maxlength['homepage'] }}" placeholder="https://mit.edu/"/></td>
    </tr>
    <tr>
      <td>{{ KNOWL('institution_city') }}</td>
      <td><input name="city" value="{{ institution.city | blanknone }}" style="width:500px;" maxlength="{{ maxlength['city'] }}" placeholder="Cambridge, MA, USA"/></td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_timezone') }}</td>
      <td>
        <select name="timezone" style="width:510px;">
          {% for tz, disp in timezones %}
          <option value="{{ tz }}"{% if institution.timezone == tz %} selected{% endif %}>{{disp}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>{{ ASTKNOWL('institution_admin') }}</td>
      <td><input name="admin" value="{{ institution.admin }}" style="width:500px;" maxlength="{{ maxlength['admin'] }}"/></td>
    </tr>
  </table>
  <table><tr>
  <td><button class="save" type="submit" name="submit" value="save" onclick="unsaved = false;">{{ 'Create institution' if institution.new else 'Save changes' }}</button></td>
  <td><button class="cancel" type="submit" name="submit" value="cancel" onclick="unsaved = false;">{{ 'Cancel creation' if institution.new else 'Cancel changes' }}</button></td>
  </tr></table>
</form>
<script type="text/javascript">
/* prevent accidental closing of browser window */
document.addEventListener("DOMContentLoaded", function() {
  /* prevent accidental closing of browser window */
  {{ prevent_unsaved() }}
});
</script>

{% endblock %}
