{% extends "homepage.html" %}
{% block content %}
  <p>The {% if newseminar.is_conference %} conference {% else %} seminar series {% endif %} name <b>{{newseminar.name}}</b>
     you entered is similar to the names of some existing {% if newseminar.is_conference %} conference {% else %} seminar series {% endif %}.
   Please review the list below and click Continue or Cancel as appropriate.</p>
  <form id="seminarform" action="{{ url_for('.edit_seminar') }}" method="POST">
    <input type="hidden" name="shortname" value="{{ newseminar.shortname }}"/>
    <input type="hidden" name="new" value="{{ 'yes' if newseminar.new else 'no' }}"/>
    <input type="hidden" name="subjects" value="{{ newseminar.subjects  | safe }}" />
    <input type="hidden" name="topics" value="{{ newseminar.topics  | safe }}"/>
    <input type="hidden" name="institutions" value="{{ newseminar.institutions  | safe }}"/>
    <input type="hidden" name="language" value="{{ newseminar.language  | safe }}"/>
    <input type="hidden" name="is_conference" value="{% if newseminar.is_conference %}yes{% else %}no{% endif %}"/>
    <input type="hidden" name="similar" value="no" />
    <div class='searchresults'>
      {% set conf = newseminar.is_conference %}
      <table class='ntdata'>
        <thead>
          <tr>{{ series_header(include_subscribe=False,conference=conf,include_datetime=conf) | safe }}</tr>
        </thead>
        {% for seminar in similar %}
          <tr>{{ seminar.oneline(include_subscribe=False,conference=conf,include_datetime=conf) | safe }}</tr>
        {% endfor %}
      </table>
    </div>
    <table>
    <tr>
      <td><button type="submit">Continue</button></td>
      <td><button type="submit" formmethod="get" formaction="{{ url_for('create.index') }}">Cancel</button></td>
      <!--<td><a style="margin-left: 30px" onclick="unsaved = false;" href="{{ url_for('create.index') }}">Cancel creation</a>-->
    </tr>
  </table>

  </form>
{% endblock %}
