{% extends 'homepage.html' %}

{% block content %}

<p>
  If you are seeking to be endorsed so that you can create seminars, please find someone you know in the second column below, and manually contact them to ask them to visit their Account page to endorse you.  Make sure to tell them which email address to endorse!
</p>
<p>
  Alternatively, you may request endorsement by emailing <a href="mailto:mathseminars-dev@googlegroups.com">mathseminars-dev@googlegroups.com</a>; include a link to something containing your email address (a page at your institution, an arXiv preprint you posted, or a published paper, say), so that we can be sure it is really you! 
</p>

<table>
  {% for affiliation, name, homepage in public_users %}
  <tr>
    <td>{{ affiliation }}</td>
    <td><a href="{{ homepage }}">{{ name }}</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
