{% extends 'homepage.html' %}

{% block content %}

<p>
  If you are seeking to be endorsed so that you can create seminars, please find someone in the second column below that you know, and then manually send them an email asking them to visit their Account page to endorse you.  Make sure to tell them which email address to endorse.
</p>
<p>
  Alternatively, you may ask for endorsement by emailing <a href="mailto:mathseminars-dev@googlegroups.com">mathseminars-dev@googlegroups.com</a>; include a link to something containing your email address (a page at your institution, an arXiv preprint you posted, or a published paper, say), so that we can be sure it is really you! 
</p>

<table>
  {% for affiliation, name, homepage in public_users %}
  <tr>
    <td>{{ affiliation }}</td>
    <td><a href="{{ homepage }}">{{ name }}</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
