{% extends 'homepage.html' %}

{% block content %}

<table>
  {% for affiliation, name, email, homepage in public_users %}
  <tr>
    <td>{{ affiliation }}</td>
    <td>
      {% if homepage %}
      <a href="{{homepage}}">{{name}}</a>
      {% else %}
      {{name}}
      {% endif %}
    </td>
    <td>
      {% if current_user.is_creator or not current_user.email %}
      <a href="mailto:{{email}}">Email</a>
      {% else %}
      <a href="mailto:{{email}}">Email</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<p>
  Alternatively, you may ask for endorsement by emailing <a href="mailto:mathseminars-dev@googlegroups.com">mathseminars-dev@googlegroups.com</a>.
</p>
{% endblock %}
