{% extends 'homepage.html' %}

{% block content %}

<h1>Reset password</h1>
<form action="{{ url_for('.reset_password_wtoken', token=token) }}" method="POST">
  <table>
    <tr><td></td><td class="forminfo" />Don't use a password you use elsewhere!</td></tr>
    <tr>
      <td>New password</td>
      <td><input id="pw1" name="password1" type="password" style="width:260px;" required></td>
      <td class="forminfo" id="pw1status" style="color: {{color.red}};"></td>
    </tr>
    <tr>
      <td>New password (repeat)</td>
      <td><input id="pw2" name="password2" type="password" style="width:260px;" required></td>
      <td class="forminfo" id="pw2status" style="color: {{color.red}};"></td>
    </tr>
    <tr><td><button class="save" name="submit" type="submit">Change Password</button></td></tr>
 </table>
</form>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  /* this tells the user if the passwords match */
  $(function () {
    $("#pw1").keyup(function(evt) { evt.preventDefault(); checkpw(); });
    $("#pw2").keyup(function(evt) { evt.preventDefault(); checkpw(); });
    checkpw();
  });
});
</script>

{% endblock %}
