{% extends 'homepage.html' %}
{% block content %}

{% if not user.is_authenticated %}
  <h1>You are not logged in</h1>

  <div style="margin-bottom: 20px">New user?
     <a href="{{ url_for('.register') }}">Register here</a>
  </div>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr><td>Email:</td>
          <td><input name="email" /></td></tr>
      <tr><td>Password:</td>
          <td><input name="password" type="password" /></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
      <tr><td>Remember:</td>
           <td><input type="checkbox" name="remember" checked>remember me for some time</td></tr>
      <tr><td class="spacing" colspan="2"/></tr>
      <tr><td /><td><button name="submit" type="submit">Login</button></td></tr>
    </table>
  </form>
{% else %}
<h1>Welcome {{ user.name }} (<a href="{{ url_for(".logout") }}">Logout</a>)</h1>
  <h2> Subscriptions </h2>
  <h3> Seminars </h3>
  <table class='ntdata'>
    <thead>
      <tr>
        {{ seminars_header() | safe }}
      </tr>
    </thead>
    {% for seminar in user.seminars: %}
    <tr>
      {{ seminar.oneline() | safe }}
    </tr>
    {% endfor %}
  </table>
  <h3> Talks </h3>
  <table class='ntdata'>
    <thead>
      <tr>
        {{  talks_header(include_seminar=False, include_edit=False) | safe }}
      </tr>
    </thead>
    {% for talk in user.talks: %}
    <tr>
      {{ talk.oneline(include_seminar=False, include_edit=False) | safe }}
    </tr>
    {% endfor %}
  </table>
  {%  if not user.email_confirmed  %}
  <p>
    Please confirm your email to get access to your personalized calendar.
  </p>
  {% else %}
  <div>
      <ul class="ical-detail">
        <li class="ical-detail">
          <a href="https://calendar.google.com/calendar/render?cid={{ user.ics_link }}" target="_blank">
            <i class="fab fa-google"></i> Google Calendar
          </a>
        </li>
        <li class="ical-detail">
          <a href="webcal://{{ user.ics_webcal_link }}" target="_blank">
            <i class="fas fa-calendar-alt"></i> iCal/Outlook
          </a>
        </li>
        <li class="ical-detail">
          <a href="{{ user.ics_link }}" target="_blank">
            <i class="fas fa-file-download"></i> ICS file
          </a>
        </li>
  </div>
  {% endif %}

    {% if user.is_creator() %}
  <h2>Endorse someone</h2>
    <form action="{{ url_for('.get_endorsing_link') }}" method="post" name="endorse">
    <table>
      <tr>
        <td>
          Email:
        </td>
        <td>
          <input name="email" size="30" tabindex="1" />
        </td>
        {% if user.phd %}
        <td>
          <input type="checkbox" name="phd" value="True">
          <label for="phd">Has a PhD</label>
        </td>
        {% endif %}
        <td>
          <button type="submit" tabindex="2">Endorse</button>
        </td>
      </tr>
    </table>
    </form>
    {{ session.pop('endorsing link', '') | safe }}
    {% endif %}
  <h2>Edit details</h2>
  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo">
    <table>
      <tr>
        <td>Created:</td>
        <td>{{ user.created|fmtdatetime }}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input name="email" value="{{user.email}}" size="30" tabindex="1" /></td>
        {% if not user.email_confirmed %}
        <td>
          (not yet confirmed <a href="{{ url_for('.resend_confirmation_email') }}">Resend link?</a>)
        </td>
        {%endif%}
      </tr>
      <tr>
        <td>Name:</td>
        <td><input name="name" value="{{user.name}}" size="30" tabindex="1" /></td>
        <td/>
      </tr>
      <tr>
        <td>Affiliation:</td>
        <td><input name="affiliation" value="{{user.affiliation}}" size="30" tabindex="1" /></td>
        <td/>
      </tr>
      <tr>
        <td>Homepage:</td>
        <td><input name="homepage" id="url" value="{{user.homepage}}" size="30" tabindex="3" /></td>
        <td id="urltest" /></td>
      </tr>
    <tr>
      <td>Timezone:</td>
      <td>
        <select name="timezone">
        {% for tz, pretty_tz in [('', 'Browser time zone')] + timezones %}
            <option value="{{tz}}"
                    {% if tz == user.raw_timezone %}
                    selected=true
                    {%endif%}
                    >
                    {{pretty_tz}}
            </option>
        {% endfor %}
        </select>
      </td>
    </tr>

      <tr><td colspan="3" class="spacing" /></tr>
      <tr>
        <td/><td colspan="2">
          <button type="submit" tabindex="5">Update details</button>
        </td>
      </tr>

    </table>
  </form>

  <h2>Change password</h2>

  <form action="{{ url_for('.change_password') }}" method="POST" name="changepassword">
   <table>
    <tr>
     <td>Old Password:</td>
     <td><input name="oldpwd" type="password" /></td>
     <tr><td>New Password:</td>
         <td><input id="pw1" name="password1" type="password" /></td></tr>
     <tr><td>New Password (repeat):</td>
         <td><input id="pw2" name="password2" type="password" /></td></tr>
     <tr><td class="forminfo">Matching?</td>
         <td class="forminfo" id="pwstatus">empty</td></tr>
    <tr>
      <td colspan="2" class="forminfo" style="color: {{color.red}};">Please make sure to use at least 8 characters for your password.</td></tr>
     <tr><td colspan="2" class="forminfo" style="color: {{color.red}};">Don't use a password that you use elsewhere!</td></tr>
     <tr><td colspan="2" class="spacing" /></tr>
     <tr><td/>
         <td><button name="submit" type="submit">Change Password</button></td>
    </tr>
   </table>
  </form>
{%endif%}



{# this script constructs a url and shows it as a link, just for testing #}
<script type="text/javascript">
function makelink() {
   var url = $("#url").val();
   if (url.substring(0,7) != "http://" && url.substring(0,8) != "https://") {
     url = "http://" + url;  
   }
   $("#urltest").html("<a href='" + url + "' target='_blank'>test</a>");
}

$(function() {
   $("#url").keyup(function(evt) { evt.preventDefault(); makelink()});
});
makelink();

/* this tells the user if the passwords match */

function checkpw() {
  var match = "False";
  if($("#pw1").val() == $("#pw2").val()) {
    match = "True";
  }
  $("#pwstatus").html(match);
}

$(function () {
  $("#pw1").keyup(function(evt) { evt.preventDefault(); checkpw(); });
  $("#pw2").keyup(function(evt) { evt.preventDefault(); checkpw(); });
  /*$(".color_selecter").mouseenter(function (evt) {
    $("link#style_css").attr("href",$(this).attr('rel'))});
  $(".color_selecter").mouseleave(function (evt) {
    $("link#style_css").attr("href","{{ url_for('css') }}")});*/
  checkpw();
})
</script>

{% endblock %}


